@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700); /* font-family: 'Roboto', sans-serif; */
@font-face {
	font-family:'AvantGardeBQ-Book';
	src: url('../../ab-fonts/AvantGardeBQ-Book_gdi.eot');
	src: url('../../ab-fonts/AvantGardeBQ-Book_gdi.eot?#iefix') format('embedded-opentype'),
		url('../../ab-fonts/AvantGardeBQ-Book_gdi.woff') format('woff'),
		url('../../ab-fonts/AvantGardeBQ-Book_gdi.ttf') format('truetype'),
		url('../../ab-fonts/AvantGardeBQ-Book_gdi.otf') format('opentype'),
		url('../../ab-fonts/AvantGardeBQ-Book_gdi.svg#AvantGardeBQ-Book') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2212;
}
@font-face {
	font-family:'AvantGardeBQ-Bold';
	src: url('../../ab-fonts/AvantGardeBQ-Bold_gdi.eot');
	src: url('../../ab-fonts/AvantGardeBQ-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../../ab-fonts/AvantGardeBQ-Bold_gdi.woff') format('woff'),
		url('../../ab-fonts/AvantGardeBQ-Bold_gdi.ttf') format('truetype'),
		url('../../ab-fonts/AvantGardeBQ-Bold_gdi.otf') format('opentype'),
		url('../../ab-fonts/AvantGardeBQ-Bold_gdi.svg#AvantGardeBQ-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2212;
}
@font-face {
	font-family:'AvantGardeBQ-BoldOblique';
	src: url('../../ab-fonts/AvantGardeBQ-BoldOblique_gdi.eot');
	src: url('../../ab-fonts/AvantGardeBQ-BoldOblique_gdi.eot?#iefix') format('embedded-opentype'),
		url('../../ab-fonts/AvantGardeBQ-BoldOblique_gdi.woff') format('woff'),
		url('../../ab-fonts/AvantGardeBQ-BoldOblique_gdi.ttf') format('truetype'),
		url('../../ab-fonts/AvantGardeBQ-BoldOblique_gdi.otf') format('opentype'),
		url('../../ab-fonts/AvantGardeBQ-BoldOblique_gdi.svg#AvantGardeBQ-BoldOblique') format('svg');
	font-weight: 500;
	font-style: oblique;
	font-stretch: normal;
	unicode-range: U+0020-2212;
}

.header.header-bg .tag-block { background-color:transparent; }
.quest-bx { width:100%; font-style:normal; font-size:20px; font-family:'AvantGardeBQ-Book'; letter-spacing:0.05em; }
.ansr-box { float:left; width:100%; font-family:'AvantGardeBQ-Book'; font-size:14px; line-height:20px; margin-top:5px; letter-spacing:0.05em; }
.ansr-box-inr { width:50%; max-height:130px; }
.quest-row-sml { padding-top:10px; }
.quest-bx-sml { font-style:normal; font-size:18px; font-family:'AvantGardeBQ-Book'; width:96%; padding-right:50px;  }
.ansr-box-sml { display:none; }
.quest-block .mCSB_container { min-height:10px; }
.user-pic ul, .user-pic li, .user-pic ul li a, .user-pic img, .blank-tray { border-radius:100%; } 
.user-pic ul li a { display:block; width:100%; height:100%; line-height:59px; }
.user-pic { border-radius:100%; overflow:hidden; width:40px; height:40px; margin-right:5px; margin-top:3px; background-color:#fff; }
.user-pic img { width:30px; height:30px; }
.blank-tray { width:40px; height:40px; cursor:pointer; line-height:59px; }

#content.boards .header.header-bg .tag-label input[type="text"] { color:#fff;  }
#content.boards .header.header-bg .tag-label input[type="text"]::-webkit-input-placeholder { color:#fff; opacity:1 !important; font-style:normal !important; }
#content.boards .header.header-bg .tag-label input[type="text"]:-moz-placeholder { color:#fff; opacity:1 !important; font-style:normal !important; }
#content.boards .header.header-bg .tag-label input[type="text"]:-ms-input-placeholder { color:#fff; opacity:1 !important; font-style:normal !important; }
#content.boards .tag-label .filter-keyword-box input[type="text"] { font-family:'AvantGardeBQ-Book'; font-size:14px; font-style:normal; }

.header.header-bg [contenteditable="true"]:empty::before, 
.header.header-bg [contenteditable="true"]:empty::before { color:#fff !important; font-style:normal !important; }

/************** 03/03/2016 ****************/
.tag-block { letter-spacing:0.05em; height:auto; padding:8px 0;  }
.tag-label, .tag-list { font-family:'AvantGardeBQ-Book'; font-size:14px; font-style:normal; font-weight:normal; padding:0; }
.toggle-icn { margin:0; }
.filter-keyword-box { display:inline-block; padding-top:2px; }
.tag-label { min-width:30%; border-right:1px solid #cacaca; padding-right:15px; position:relative; margin-right:37px; }
.header.header-bg .tag-label { border-color:#fff; }
.filter-keyword-box .filter-keyword { font-family:'AvantGardeBQ-Book'; font-size:14px; margin:0 10px; }
.filter-keyword-box .filter-keyword span { font-family:'AvantGardeBQ-Bold'; }

.header.header-bg .filter-keyword-box .filter-keyword { color:#fff; }
.header.header-bg .filter-keyword-box .filter-keyword:hover { color:#8B8B8B; }
.header.header-bg .tag-label span input[type="text"]::-moz-placeholder { color:#fff; }

.tag-list  { display:block !important; float:none; width:auto; float:none; padding-top:2px; padding-left:0; }
.tag-list a { margin:0 15px 10px; display:inline-block; }
.header.header-bg .tag-list a { color:#fff; }
.header.header-bg .tag-list a:hover { color:#f6f6f6; }
#content.boards .tag-label input[type="text"] { min-width:180px;}

.header-bg.tag-block { box-shadow:none; }
.header-bg .nav { border-bottom:none; }

	/***** SAME HEADER *****/
header.search-header-same { padding:0; }
.search-header-same .nw-header-left { position:relative; z-index:1; background-color:#fff; border-bottom:1px solid #cacaca; height:48px; padding-bottom:0; position:relative; }
.search-header-same .quest-bx-sml { padding-left:62px; padding-right:0; width:100%; color:#000; } 
.search-header-same .image-selector ul { float:right; padding-right:5px; }
.search-header-same .image-selector .close_icon { background: rgba(0, 0, 0, 0.3) url(../../img/icons/icon-act-cross.png) no-repeat center center; cursor:pointer; float:right; height:15px; margin:0; position:absolute; right:0; width:15px; z-index:99; }
.container.space-top { padding-top:102px; position:relative; }
.container.space-top-55 { padding-top:55px; position:relative; }

.search-header-same.header-bg .nw-header-left, .search-header-same.header-bg .nw-subheader { background:none; }
.search-header-same.header-bg .nw-header-left { border-bottom:none; }
.search-header-same.header-bg .quest-bx-sml { color:#fff; }
.tooltips.tooltips2.view-montage-btn { z-index:50; }
.search-header-same .dropdown-nav { right:auto; left:0; }

#discuss_gallery_elements .item .overlay, .m-delete-icn { z-index:50; }