button::-moz-focus-inner {
  border: 0;
}

body { margin:0;}
.home-page{ margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#000;}
.home-page section{ text-align:left;}
.header { background:#e5e5de; padding:0; position:fixed; top:0; left:0; right:0; opacity: 1; padding-bottom:0px; }

/*header-bg style start*/
.header-bg .header-pic-overlayer {
position: absolute;
width: 100%;
top: 0;
bottom:0px;
background-color: rgba(0, 0, 0, 0.4);
}

.header-bg { background:url(/assets/page/img/white-wallpaper-9.jpg) 0 0 no-repeat; background-size:cover;}

/*20-8-15 start _Rajvir*/
.header-bg .nav { height:46px;}
/*20-8-15 end _Rajvir*/

.header-bg .nav,
.header-bg .quest-block
{ background:none;}
.header-bg .nav-toggle{ color:#fff;}
.header-bg .nav-toggle:hover,
.header-bg .nav-toggle:focus,
.header-bg .setting-icon:hover
{ color:#ddd;}
.header-bg .quest-bx,
.header-bg .ansr-box,
.header-bg .ansr-box textarea,
.header-bg .dropdown-icn
{ color:#fff;}
.header-bg .dropdown-box .dropdown-icn:hover,
.header-bg .dropdown-box-mobile .dropdown-icn:hover
{ color:#eee;}
.header-bg .user-pic img {
/*border:2px solid #fff;*/
}
.header-bg .setting-icon { color:#fff;}
/*.header-bg .user-pic {height: auto;}*/ /*11-9-15*/

/*20-8-15 start _Rajvir*/
.header-bg .nav-toggle span,
.header-bg .nav-toggle span::before,
.header-bg .nav-toggle span::after  {
	background-color:#fff;
}
/*20-8-15 end _Rajvir*/

.header-bg .dropdown-nav { 
box-shadow: 0 0 3px #797979;
-moz-box-shadow: 0 0 3px #797979;
-webkit-box-shadow: 0 0 3px #797979;
-o-box-shadow: 0 0 3px #797979;
}
.header-bg .nav {border-bottom: 1px solid #bdbdbd;}
.header-bg .quest-row-sml{ color:#fff;}

.header-bg .dropdown-nav { 
background: #fff;
box-shadow:0 0 2px #6c6c6c;
-moz-box-shadow:0 0 2px #6c6c6c;
-webkit-box-shadow:0 0 2px #6c6c6c;
-o-box-shadow:0 0 2px #6c6c6c;
}
.header-bg .ansr-box-focus {
border-color: #fff;
}
/*header-bg style end*/

/*header-scroll style start*/
.header .tag-block.tag-block-scroll { background:#e5e5de;}
.header-bg .tag-block.tag-block-scroll { background:none; /*padding-right: 50px; /*9-9-15*/ }
.header-bg .tag-block.tag-block-scroll .toggle-icn { background:url(/assets/page/img/search-icn-white.png) 0 0 no-repeat;}
.header-bg .tag-block.tag-block-scroll .tag-list ul li span i {background: url("/assets/page/img/cross-white.png") no-repeat 0 0;}
.header-bg .tag-block.tag-block-scroll .tag-list .prev-slide {background: url("/assets/page/img/tag-arw-lft-white.png") no-repeat 0 0;}
.header-bg .tag-block.tag-block-scroll .tag-list .next-slide {background: url("/assets/page/img/tag-arw-rt-white.png") no-repeat 0 0;}

.header-bg .tag-block.tag-block-scroll .tag-label input[type="text"],
.header-bg .tag-block.tag-block-scroll .tag-list ul li span,
#content.boards .tag-block.tag-block-scroll .tag-label input[type="text"]
{color:#fff;}

.header-bg .tag-block.tag-block-scroll .tag-list ul li span:hover { background-position:0 -12px;}

.header-bg .tag-block.tag-block-scroll .tag-label span input[type="text"]::-moz-placeholder{color:#fff;}
.header-bg .tag-block.tag-block-scroll .tag-label span input[type="text"]::-webkit-placeholder{color:#fff;}
.header-bg .tag-block.tag-block-scroll .tag-label span input[type="text"]::-webkit-input-placeholder{color:#fff;}

/*header-scroll style end*/


/*.setting-icon .fa {
transform: rotate(-180deg);
transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-webkit-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
}

.setting-icon:hover .fa {
transform: rotate(180deg);
}*/

.setting-icon .fa {
-webkit-animation: spin1 4s infinite linear;
-moz-animation: spin1 4s infinite linear;
-o-animation: spin1 4s infinite linear;
-ms-animation: spin1 4s infinite linear;
animation: spin1 4s infinite linear;
}
@-webkit-keyframes spin1 {
0% { -webkit-transform: rotate(0deg);}
100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin1 {
0% { -moz-transform: rotate(0deg);}
100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spin1 {
0% { -o-transform: rotate(0deg);}
100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes spin1 {
0% { -ms-transform: rotate(0deg);}
100% { -ms-transform: rotate(360deg);}
}
@-keyframes spin1 {
0% { transform: rotate(0deg);}
100% { transform: rotate(360deg);}
} 

/*20-8-15 start _Rajvir*/
.nav{
height:48px;
position: relative;
background:#fff;
border-bottom: 1px solid #cacaca;
padding-bottom: 0px;
}

.nav-toggle {
 float: left;
 height: 30px;
 border-radius:100%;
 margin: 8px 0 0 10px;
 position: relative;
 text-align: left;
 transition: all 0.2s ease 0s;
 -moz-transition: all 0.2s ease 0s;
 -webkit-transition: all 0.2s ease 0s;
 -o-transition: all 0.2s ease 0s;
 width: 30px;
 background-color:rgba(0,0,0,0.5);
}

/*new style 20-8-15*/
/*.nav-toggle::after {
    background: #fff;
    content: "";
    display: block;
    height: 47px;
    width: 45px;
}*/
/*new style 20-8-15*/

/*20-8-15 end _Rajvir*/

.nav-toggle:hover,
.nav-toggle:focus
{color:#36362a;}

/*20-8-15 start _Rajvir*/
.top-nav-bx {
    float: right;
    height: 100%;
    margin: 0;
    position: absolute;
    right: 0px;
    top: 0px;
	width:90px; /*22-7-15*/
}



/*nav hamberg icon css start*/


/*20-8-15 end _Rajvir*/
.nav-toggle span, 
.nav-toggle span:before, 
.nav-toggle span:after {
    transition: all 200ms ease-in-out 0s;
	-moz-transition: all 200ms ease-in-out 0s;
	-webkit-transition: all 200ms ease-in-out 0s;
	-o-transition: all 200ms ease-in-out 0s;
	
	background-color: #fff;
    border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
    content: "";
    cursor: pointer;
    display: block;
    height: 2px;
    position: absolute;
    width: 15px;
	
	transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
}


/*20-8-15 start _Rajvir*/

.nav-toggle span {
    left:8px;
    top:9px;
}
.nav-toggle span:before {
    top:5px;
}
.nav-toggle span:after {
    bottom:-10px;
}
/*20-8-15 end _Rajvir*/

.nav-toggle.active span { background:none; top:0;}
.nav-toggle.active span:after {
    bottom: -8px;
    transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}

.nav-toggle.active span::before {
    top: 8px;
    transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}
/*nav hamberg icon css start*/

/*20-8-15 start _Rajvir*/
.user-pic {
    float: right;
    height: 47px;
    position: relative;
    text-align: center;
    width: 47px;
}
/*20-8-15 end _Rajvir*/

.user-pic .item-counter{
    background: none repeat scroll 0 0 #ff0000;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    left: 16px;
    padding: 3px 0 0;
    position: relative;
    top: -3px;
    vertical-align: top;
    width: 20px;
}

/*20-8-15 end _Rajvir*/
.user-pic img {
/*border-radius: 8px;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
-o-border-radius: 8px;*/
/*position:absolute;
top:0;
left:0;*/
transition:all 0.4s ease 0s;
-moz-transition:all 0.4s ease 0s;
-webkit-transition:all 0.4s ease 0s;
-o-ransition:all 0.4s ease 0s;
width:30px;  /*21-8-15 _Rajvir*/
height:30px; /*21-8-15 _Rajvir*/
margin:0px 0 0 0; /*21-8-15 _Rajvir*/
/*border: 1px solid #ddd;*/
}
/*20-8-15 end _Rajvir*/

.user-pic ul { padding:0; margin: 0;}
.user-pic ul li {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.setting-icon {
    color: #444;
    float: right;
    font-size: 22px;
    padding: 12px 0 0 15px;
}
.setting-icon:hover { color:#666;}
.quest-block { position:relative; z-index:100; padding:25px 50px; min-height:265px; }
/*20-8-15 start _Rajvir*/
.quest-bx {
	float: left;
/*	font-family: "Playfair Display",serif;
	font-size: 22px;
	font-style:italic;*/
	text-align: left;
	width: 50%;
	color:#8a896d;
	padding:0;
	word-wrap: break-word; /*4-8-15 _Rajvir*/
}
/*20-8-15 end _Rajvir*/
.ansr-box {
	float:right;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	font-weight: 400;
	margin: 0 auto;
	text-align: left;
	width: 50%;
	word-wrap: break-word; /*4-8-15 _Rajvir*/
	color: #36362a;
	padding:0;
	position:relative;
	z-index:0;
	 
	 
 transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-webkit-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
}
/*21-8-15 start _Rajvir*/
	/*.ansr-box-inr { overflow-x: hidden; overflow-y:auto; height:80px; min-height: 50px;}*/
/*21-8-15 end _Rajvir*/
.ansr-box:after {
background: #fff none repeat scroll 0 0;
content: "";
display: block;
height: 1px;
transition: all 0.5s ease 0s;
width: 0;
}
.ansr-box-focus {
width:0;
transition: all ease 0.3s 0s;
-moz-transition: all ease 0.3s 0s;
-webkit-transition: all ease 0.3s 0s;
-o-transition: all ease 0.3s 0s;
border-bottom: 1px solid #222;
}

/*19-8-15 start _Rajvir*/
.ansr-box-focus.focus-line {
 width:0;  
}
.quest-btm-rw { text-align:center; margin-top:0; text-align:center;}


.quest-btm-btn { 
font-family: "Raleway",sans-serif;
display:inline-block; 
vertical-align:top; 
background-color: rgba(255, 255, 255, 0.6);
background-image:none; /*4-8-15 _Rajvir*/
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-o-border-radius: 2px;
padding:20px;

color: #000;
font-size: 15px;
font-weight:500;
font-style:normal; /*4-8-15 _Rajvir*/
padding: 5px 16px 5px 16px; /*4-8-15 _Rajvir*/
margin:0 auto;
}

.quest-btm-btn:hover{ background-color: rgba(255, 255, 255, 0.8);}
/*19-8-15 end _Rajvir*/


/*.dropdown-box start*/
.dropdown-box,
.dropdown-box-mobile
{
    bottom: 5px;
    position: absolute;
    right: 10px;
}
.dropdown-box-mobile{display:none;}

/*23-9-15 start*/
/*.quest-block .dropdown-box,
.tag-block .dropdown-box
{
width:150px;
}*/
/*23-9-15 end*/

.dropdown-box2 {
	/*right: 30px;
	top: 13px;
	bottom: auto;*/
}
.dropdown-icn{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    color: #fff;
    float: right;
    font-size: 18px;
    height: 30px;
    line-height: 31px;
    text-align: center;
    width: 30px;
}
.dropdown-icn:hover{ color: #fff;}


/*19-8-15 start _Rajvir*/
.dropdown-nav {
/*font-family: 'Conv_Graphik-Bold';*/
/*font-family: "Raleway",sans-serif;*/
position: absolute;
right: 0;
top: 100%;
width: 180px;
padding:20px;
background-color:#e5e5de;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-o-border-radius: 3px;

box-shadow: 0 0 2px #bebebe;
-moz-box-shadow: 0 0 2px #bebebe;
-webkit-box-shadow: 0 0 2px #bebebe;
-o-box-shadow: 0 0 2px #bebebe;
display: none;

}
/*19-8-15 end _Rajvir*/

.dropdown-nav ul,
.dropdown-nav ul li {
margin:0; padding:0;
list-style:none;
}
.dropdown-nav ul li {
display:block;
padding:0 0 4px 0;
color: #222;
font-size: 15px;
text-align: left;
}
.dropdown-nav ul li a, .icon-links .table-box ul li a{
	display: block !important;
	transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
	-o-ransition:all 0.3s ease 0s;
	color:#111;
	width:auto !important; height:auto !important; background-color:transparent !important; margin:0 !important;
}

/*19-8-15 start _Rajvir*/
.dropdown-nav ul li a:hover{
color:#333;
padding: 0 0 0 0px;
}


.dropdown-box:hover .dropdown-nav{ display:block;}

/*old inner page dropdown css start*/
.dropdown-box3 {
display: inline-block;
position: relative;
right: 0;
vertical-align: top;
z-index: 12;
bottom: 0;
top: 1px;
padding-left:20px;
}
/*19-8-15 end _Rajvir*/
.dropdown-box3 .dropdown-nav{ background:#fff;
box-shadow: 0 0 5px #bebebe;
-moz-box-shadow: 0 0 5px #bebebe;
-webkit-box-shadow: 0 0 5px #bebebe;
-o-box-shadow: 0 0 5px #bebebe;
}
.dropdown-box3 .dropdown-nav a { text-align:left; width:152px;}
/*old inner page dropdown css start*/

/*.dropdown-box end*/


/*tag-block start*/

/*19-8-15 start _Rajvir*/
.tag-block { 
background:#fff; height:50px; padding:9px 0 0 0; position: relative; z-index: 0;
transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-webkit-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;

box-shadow:0 1px 2px #bdbdbd;
-moz-box-shadow:0 1px 2px #bdbdbd;
-webkit-box-shadow:0 1px 2px #bdbdbd;
-o-box-shadow:0 1px 2px #bdbdbd;

bottom:0;
left:0;
right:0;
}

/*new style on 19-8-15 start*/
.tag-label,
.tag-list
{
font-family: "Playfair Display",serif;
font-size: 20px;
font-weight: 700;
font-style: italic;	
}
/*new style on 19-8-15 end*/


.tag-label {
    float: left;
    left: 30px;
    padding:2px 0 0;
    position: absolute;
	 z-index:1;
    /*width: 150px;*/
}
.toggle-icn { display:inline-block; vertical-align:top; width:19px; height:20px; background:url(/assets/page/img/search-icn.png) 0 0 no-repeat;
margin:5px 0 0;
	transition:all 0.2s ease 0s;
	-moz-transition:all 0.2s ease 0s;
	-webkit-transition:all 0.2s ease 0s;
	-o-ransition:all 0.2s ease 0s;

}
.toggle-icn:hover {
	background-position:0 -20px;
}
/*19-8-15 end _Rajvir*/

.tag-label img { margin:0 4px 0 0; cursor:pointer;}
.tag-label img,
.tag-label span 
{
display:inline-block;
vertical-align:top;
}
.tag-label span input[type="text"]::-moz-placeholder { opacity:1; font-style:italic; color:#8a896d;}
.tag-label span input[type="text"]::-webkit-input-placeholder { opacity:1; font-style:italic; color:#8a896d;}
.tag-list { width:100%;}
.tag-list .slick-slider{margin-bottom: 0;}
.tag-list .slider { margin:0 10px 0 0; height:30px;}
.tag-list .slick-slide span{ 
 display: inline-block;
 font-style: italic;
 padding: 0 40px 0 17px;
 vertical-align: top;
 color:#666;
 cursor:pointer;
 transition:all 0.2s ease 0s;
-moz-transition:all 0.2s ease 0s;
-webkit-transition:all 0.2s ease 0s;
-o-ransition:all 0.2s ease 0s;
 
}
.tag-list .slick-slide span:hover,
.tag-list .slick-slide span:hover i
{ background-position:0 -12px; color:#000;} 

.tag-list .slick-slide span i{ display:inline-block; vertical-align:top;
background: url("/assets/page/img/cross-grey.png") no-repeat 0 2px;
height:12px;
width:12px;
margin:1px 4px 0 0;

transition:all 0.2s ease 0s;
-moz-transition:all 0.2s ease 0s;
-webkit-transition:all 0.2s ease 0s;
-o-ransition:all 0.2s ease 0s;
}


.tag-list .slick-slide .active-tag { color:#000;}
.tag-list .slick-slide .active-tag i{ background-position:0 -12px; margin:2px 3px 0 0;} 

.tag-list .slick-dots { display:none !important;}
.tag-list .slick-prev,
.tag-list .slick-next
{
z-index:50;
width:11px;
height:12px;
margin-top:-7px;

transition:all 0.2s ease 0s;
-moz-transition:all 0.2s ease 0s;
-webkit-transition:all 0.2s ease 0s;
-o-transition:all 0.2s ease 0s;
}
.tag-list .slick-prev{ background:url(/assets/page/img/tag-pre-arw.png) 0 0 no-repeat;}
.tag-list .slick-prev:hover{ background-position:-11px 0;}

.tag-list .slick-next{ background:url(/assets/page/img/tag-nxt-arw.png) -11px 0 no-repeat; right:0;}
.tag-list .slick-next:hover{ background-position:0px 0;}

.tag-list .slick-prev::before,
.tag-list .slick-next::before
{ content:'';}

.tag-list ul,
.tag-list ul li,
.gallery-block ul,
.gallery-block ul li
{ margin:0; padding:0; list-style:none;}

.gallery-block .item {
    box-shadow: 0 0 7px 3px #dbdbdb;
    display: inline-block;
	width: 100%;
}

/*21-8-15 start _Rajvir*/
.tag-list {
    float: left;
    padding: 2px 0px 0 155px;
}
/*21-8-15 end _Rajvir*/

.tag-list-inr {
    position: relative;
	padding:0 25px;
}
.tag-list ul li {
    padding:0;
}
.tag-list ul li span {
    color: #8a896d;
    display: block;
	font-style:italic;
    border-radius: 3px;
    padding: 0 25px 0 0;
	cursor:pointer;
	height:30px;
	line-height:30px;
	
	transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
}
.tag-list ul li span i {
    background: url("/assets/page/img/cross-grey.png") no-repeat 0 0;
    color: #666666;
    display: inline-block;
    font-style: italic;
    height: 12px;
    margin: 10px 4px 0 0;
    padding: 0;
    vertical-align: top;
    width: 12px;
	transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
}
.tag-list ul li span:hover { color:#000;}
.tag-list ul li span:hover i{ background-position:0 -12px;}

.tag-list ul li.active-li { color:#000;}
.tag-label input[type="text"] {
	font-family: "Playfair Display",serif;
	font-size:20px;
	font-weight:700;
    border: none;
    width: 110px;
	color:#8a896d;
	background:none;
	font-family: index;
	padding:0 0 0 4px;
}

.slick-active {
background: #eee;
border: 1px solid #ddd;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-o-border-radius: 3px;
padding: 5px 10px;
}

.tag-list .prev-page,
.tag-list .next-page
{ display:none;}


.tag-list .prev-slide,
.tag-list .next-slide
{ position:absolute; top:7px; text-indent: -9999px; width:25px; height:25px;}
.tag-list .prev-slide { background: url("/assets/page/img/tag-arw-lft.png") no-repeat 0 0; left:0;}
.tag-list .next-slide { background: url("/assets/page/img/tag-arw-rt.png") no-repeat right 0; right:0;}
/*tag-block end*/

/*tag-block-bg start*/
.tag-block.tag-block-bg { background: none;}
.tag-block.tag-block-bg .tag-list .slick-slide span { color: #fff;}
.tag-block.tag-block-bg .tag-label span input[type="text"]::-moz-placeholder
{ color: #fff;}
.tag-block.tag-block-bg .tag-label span input[type="text"] { background:none !important; padding: 0 4px; }
.tag-block.tag-block-bg .toggle-icn { background:url(/assets/page/img/search-icn-white.png) 0 0 no-repeat;}
.tag-block.tag-block-bg input[type="text"]{background: none; border: 1px solid #fff;}
.tag-block.tag-block-bg .tag-list .slick-prev{ background:url(/assets/page/img/tag-pre-arw-white.png) 0 0 no-repeat;}
.tag-block.tag-block-bg .tag-list .slick-next{ background:url(/assets/page/img/tag-nxt-arw-white.png) -11px 0 no-repeat; right:0;}
.tag-block.tag-block-bg .tag-list .slick-slide span i{background: rgba(0, 0, 0, 0) url("assets/page/img/cross-white.png") no-repeat scroll 0 2px;}
/*tag-block-bg end*/


/*.gallery-block start*/
.gallery-block {
margin: 0 auto;
max-width: 2100px;
width:100%;
position:relative;
left:0;
padding-top: 0;

 transition: all 0.6s ease 0s;
 -moz-transition: all 0.6s ease 0s;
 -webkit-transition: all 0.6s ease 0s;
 -o-transition: all 0.6s ease 0s;
}
/*2-9-15 start*/
.gallery-block ul { margin:0 -27px;}
/*2-9-15 end*/

.gallery-block ul li { float:left; width:20%; vertical-align:top; 
/*padding:0 20px 20px 0;*/
/*padding:0 35px 35px 0;*//*4-8-15 _rajvir*/
padding:0 27px 54px;/*19-8-15 _rajvir*/
}
.gallery-block ul li img{ width:100%; height:auto;
transition: all 0.5s ease 0s;
-moz-transition: all 0.5s ease 0s;
-webkit-transition: all 0.5s ease 0s;
-o-transition: all 0.5s ease 0s;
vertical-align: top;
}

/*.gallery-block end*/


/*.sidebar-panel start*/

/*19-8-15 start _Rajvir*/
.sidebar-panel {
    background: #e5e5de none repeat scroll 0 0;
    display: block;
    float: left;
    padding: 20px 15px 20px 30px;
    position: absolute;
    top: 0;
	left:-250px;
    width: 250px;
    z-index:101;
	
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}
/*19-8-15 end _Rajvir*/

/*.sidebar-panel {
    background: #e5e5de none repeat scroll 0 0;
    display: block;
    float: left;
    padding: 20px 15px 20px 30px;
    position: fixed;
    top: 0;
	bottom:0;
	left:-250px;
    width: 250px;
    z-index:10;
	
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}*/


.sidebar-col {
    padding: 0 0 25px;
}
.sidebar-ttl { padding:0 0 15px;}
.sidebar-ttl h2 {
    color: #444444;
    font-family: "indexbold";
    font-size: 18px;
    margin: 0;
}
.sidebar-ttl h2 .fa {
    font-size: 11px;
    position: relative;
    top: -2px;
	margin:0 2px 0 0;
}
.sidebar-ttl p {
    margin: 0;
    padding: 10px 0;
}
.sidebar-ttl input[type="text"] {
    background: #fff;
    border:none;
    border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
    height: 30px;
    line-height: 30;
    padding: 0 15px;
    width: 100%;
	 
	transition:all 0.2s ease 0s;
	-moz-transition:all 0.2s ease 0s;
	-webkit-transition:all 0.2s ease 0s;
	-o-ransition:all 0.2s ease 0s;
}
.sidebar-ttl input[type="text"]:focus {
    border: 1px solid #bfbfbf;
}
.sidebar-link,
.sidebar-link { margin:0; padding:0;}
.sidebar-link li {
    font-size: 13px;
    list-style: outside none none;
    margin: 0;
    padding: 0 0 8px;
	 color:#333;
}
.sidebar-link li:hover { color:#333;}
.sidebar-link li label { display:block; cursor:pointer; position:relative;}
.sidebar-link li a{ display:block; color:#555;}


.sidebar-link li input[type="checkbox"],
.sidebar-link li input[type="radio"]{
    margin: 0;
    opacity: 0;
    position: absolute;
}

.check-pic {
position: absolute;
display: inline-block;
vertical-align: top;
}
.check-label{ display: inline-block;
vertical-align: top; padding:0 0 0 17px;}

.sidebar-link li input[type="checkbox"] + .check-pic:before,
.sidebar-link li input[type="radio"] + .check-pic:before
{
background: rgba(0, 0, 0, 0) url("/assets/page/img/check-default.png") no-repeat scroll 0 0;
content: "";
display: inline-block;
height: 8px;
margin: 4px 5px 0 0;
vertical-align: top;
width: 11px;
}

.sidebar-link li input[type="checkbox"]:checked + .check-pic::before,
.sidebar-link li input[type="radio"]:checked + .check-pic::before

{
background: rgba(0, 0, 0, 0) url("/assets/page/img/check-done.png") no-repeat scroll 0 0;
}


.add-country-col .token-input-list { padding:0;}
.add-country-col .token-input-token {
    color: #333333;
    font-size: 12px;
    padding: 0 0 8px;
    position: relative;
    text-transform: uppercase;
}
.add-country-col .token-input-token > p {
    padding:0 25px 0 0;
}
.add-country-col .token-input-delete-token {
    cursor: pointer;
    font-size: 17px;
    height: 18px;
    position: absolute;
    right: 0;
    text-align: right;
    top: -3px;
    width: 16px;
}
.add-country-col .token-input-input-token input[type="text"]
{
 background: #fff;
    border:none;
    border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
    height: 30px;
    line-height: 30;
    padding: 0 15px;
    transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
    width: 100% !important;
}


/*.sidebar-panel end*/

.default-btn { margin:15px 0 0 0;}
.default-btn a {
border: 1px solid #222;
color: #222;
display: inline-block;
font-size: 12px;
height: 40px;
line-height: 40px;
padding: 0 10px;
text-align: center;
text-transform: uppercase;
vertical-align: top;
width: 100%;
}
.default-btn a:hover { border-color:#777;}
/*common-style*/
.header:after,
.nav:after,
.quest-block:after,
.tag-block:after
{
content:'';
display:table;
clear:both;
}
.padding-30 { padding-right:30px; padding-left:30px;}



.add-country {
    padding: 12px 0 0 10px;
}
.add-country > ul, 
.add-country > ul > li {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.add-country p {
    padding: 0 20px 0 0;
}
.add-country span {
    font-family: verdana;
    position: absolute;
    right: 0;
    top: 0;
	 cursor:pointer;
}
.add-country span:hover { color:#222;}
.add-country ul li {
    color: #333;
    font-size: 12px;
    position: relative;
    text-transform: uppercase;
	 padding:0 0 7px 0;
}
.gallery-pic-bx { position:relative; overflow:hidden;
}
.hover-icon { 
background:url(/assets/page/img/sprite_icon.png)  -156px -3px no-repeat; width:41px; height:39px;
position:absolute;
z-index:1;
bottom:0;
left:50%;
margin-left:-20px;
transition:all 0.4s ease 0s;
-moz-transition:all 0.4s ease 0s;
-webkit-transition:all 0.4s ease 0s;
-o-ransition:all 0.4s ease 0s;
}
.gallery-pic-bx:hover .hover-icon{ background-position: -156px -48px;}
.hover-overlayer {
opacity: 0;
transition:all 0.4s ease 0s;
-moz-transition:all 0.4s ease 0s;
-webkit-transition:all 0.4s ease 0s;
-o-ransition:all 0.4s ease 0s;
}
.gallery-pic-bx:hover .hover-overlayer{
content:''; display: inline-block; vertical-align: top; opacity: 1; position: absolute;top:0; left: 0; right: 0; bottom: 0;
background-color: rgba(0, 0, 0, 0.5);
transition:all 0.4s ease 0s;
-moz-transition:all 0.4s ease 0s;
-webkit-transition:all 0.4s ease 0s;
-o-ransition:all 0.4s ease 0s;
}

.gallery-pic-bx:hover img {
transform:scale(1.2);
-moz-transform:scale(1.2);
-webkit-transform:scale(1.2);
-o-transform:scale(1.2);
}

.media-label {
    color: #fff;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 30%;
}
.gallery-pic-bx:hover .media-label{display: block;}

/*quest-row-sml start*/

/*20-8-15 start _Rajvir*/
.quest-row-sml { font-family: "indexbold"; padding:6px 0 0; color:#000;}
/*20-8-15 end _Rajvir*/

.quest-bx-sml {
	float: left;
	font-family: 'Playfair Display', serif;
	font-size: 26px;
	font-weight:400;
    overflow: hidden;
    padding: 0 20px 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 30%;
}

.ansr-box-sml {
	font-family: 'Playfair Display', serif;
	font-size: 24px;
	font-weight:700;
	font-style:italic;
    overflow: hidden;
    padding: 0 100px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*quest-row-sml end*/



/*Font-Face Start*/

@font-face {
    font-family: 'indexbold';
    src: url('/assets/page/fonts/INDEX BOLD-webfont.eot');
    src: url('/assets/page/fonts/INDEX BOLD-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/page/fonts/INDEX BOLD-webfont.woff2') format('woff2'),
         url('/assets/page/fonts/INDEX BOLD-webfont.woff') format('woff'),
         url('/assets/page/fonts/INDEX BOLD-webfont.ttf') format('truetype'),
         url('/assets/page/fonts/INDEX BOLD-webfont.svg#indexbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'pill_gothic_300mgbold';
	src: url('/assets/page/fonts/PILLGOTHIC300MG-BOLD-webfont.eot');
	src: url('/assets/page/fonts/PILLGOTHIC300MG-BOLD-webfont.eot?#iefix') format('embedded-opentype'),
		url('/assets/page/fonts/PILLGOTHIC300MG-BOLD-webfont.woff2') format('woff2'),
		url('/assets/page/fonts/PILLGOTHIC300MG-BOLD-webfont.woff') format('woff'),
		url('/assets/page/fonts/PILLGOTHIC300MG-BOLD-webfont.ttf') format('truetype'),
		url('/assets/page/fonts/PILLGOTHIC300MG-BOLD-webfont.svg#pill_gothic_300mgbold') format('svg');
	font-weight: normal;
	font-style: normal;
	
}


@font-face {
    font-family: 'pill_gothic_300mglight';
    src: url('/assets/page/fonts/PILLGOTHIC300MG-LIGHT-webfont.eot');
    src: url('/assets/page/fonts/PILLGOTHIC300MG-LIGHT-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/page/fonts/PILLGOTHIC300MG-LIGHT-webfont.woff2') format('woff2'),
         url('/assets/page/fonts/PILLGOTHIC300MG-LIGHT-webfont.woff') format('woff'),
         url('/assets/page/fonts/PILLGOTHIC300MG-LIGHT-webfont.ttf') format('truetype'),
         url('/assets/page/fonts/PILLGOTHIC300MG-LIGHT-webfont.svg#pill_gothic_300mglight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pill_gothic_300mgregular';
    src: url('/assets/page/fonts/PILLGOTHIC300MG-REGULAR-webfont.eot');
    src: url('/assets/page/fonts/PILLGOTHIC300MG-REGULAR-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/page/fonts/PILLGOTHIC300MG-REGULAR-webfont.woff2') format('woff2'),
         url('/assets/page/fonts/PILLGOTHIC300MG-REGULAR-webfont.woff') format('woff'),
         url('/assets/page/fonts/PILLGOTHIC300MG-REGULAR-webfont.ttf') format('truetype'),
         url('/assets/page/fonts/PILLGOTHIC300MG-REGULAR-webfont.svg#pill_gothic_300mgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'pill_gothic_300mgthin';
    src: url('/assets/page/fonts/PILLGOTHIC300MG-THIN-webfont.eot');
    src: url('/assets/page/fonts/PILLGOTHIC300MG-THIN-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/page/fonts/PILLGOTHIC300MG-THIN-webfont.woff2') format('woff2'),
         url('/assets/page/fonts/PILLGOTHIC300MG-THIN-webfont.woff') format('woff'),
         url('/assets/page/fonts/PILLGOTHIC300MG-THIN-webfont.ttf') format('truetype'),
         url('/assets/page/fonts/PILLGOTHIC300MG-THIN-webfont.svg#pill_gothic_300mgthin') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*Font-Face End*/

/*media tray discuss start*/
.quest-row { font-family: "indexbold"; background:none; color:#000; opacity:1; border-bottom: 1px solid #dbdbdb; padding:15px 0; z-index:90;}
.quest-row.row,
.media-tray-rw.row
{margin-top:0 !important;}

.media-tray-rw {
    padding:0; /*9-9-15*/
}
.media-tray-rw .dragable {
    display: inline-block;
	vertical-align:top; /*9-9-15*/
    margin: 0 1px 0 0;
    padding: 0;
    position: relative;
    width: 44px;
	z-index: 5; /*20-7-15*/
}
.quest-row .toggle-menu {
    left: 0;
    position: absolute;
}
.quest-row .toggle-menu .fa{ color:#bfbfbf;}
.quest-row .title span {
    display: block;
    overflow: hidden;
    padding: 0 0 0 35px;
    text-align: center;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
	font-size: 19px;
}

/*20-8-15 start _Rajvir*/
.blank-tray {
background: white; 
display: inline-block; 
top: 0px; 
bottom: 0px; 
left: 0px; 
right: 0px; 
/*border-radius: 8px; */
height: 100%;
width: 100%;
}
/*20-8-15 end _Rajvir*/

.media-list-rw .montage-box {
    margin-bottom: 30px;
}
/*media tray discuss end*/


/*sidebar toggle, inner container toggle,etc start*/
.inner-container {
transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-webkit-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
background:#fff;
}
html,body {height:100%;}

/*.sidebar-toggle { overflow:hidden;}*/
.gallery-block-mn:after { content:''; display:table; clear:both;}
.gallery-block-mn {
position:relative;
left:0;
background:#fff; 
min-height:100%;
transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-webkit-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
}
.sidebar-toggle .sidebar-panel { left:0;}
.sidebar-toggle .gallery-block-mn{left:0px;}
.sidebar-scroll { overflow:auto;}


/*sidebar toggle,inner container toggle,etc start*/

/* cbp-spmenu-bg start*/
.cbp-spmenu-bg { background:#e5e5de;}
.cbp-spmenu-bg .left-menu-bx {color: #222;}

.profile-head {
    padding: 19px 20px;
}
.cbp-spmenu-bg .profile-head > h2 {
font-family: "brandon",sans-serif;
border-bottom: 1px solid #bababa;
font-size: 15px;
color: #222;
font-weight: normal;
letter-spacing: 5px;
margin: 0 0 15px;
padding: 0 0 15px;
text-transform: uppercase;
}
.cbp-spmenu-bg .profile-head > h3
{ 
color:#222;
text-overflow: ellipsis;
text-transform: uppercase;
white-space: nowrap;
}
.cbp-spmenu-bg .left-menu-link ul { padding:0;}
.cbp-spmenu-bg .left-menu-link ul li {border-bottom: 1px solid #bababa;  padding:0;}
.cbp-spmenu-bg a {
transition:all 0.4s ease 0s;
-moz-transition:all 0.4s ease 0s;
-webkit-transition:all 0.4s ease 0s;
-o-transition:all 0.4s ease 0s;
}
.cbp-spmenu-bg .left-menu-link > ul > li > a {
    color: #222;
    display: block;
    padding: 18px 22px;
    width: auto;
}
.cbp-spmenu-bg .left-menu-link > ul > li > a:hover {
background:#d6d6d3;
color: #222;
}

.media-box { text-align:center;}
.cbp-spmenu-bg .left-menu-link .media-box a {
    color: #222;
    display: inline-block;
    font-size: 13px;
    vertical-align: top;
    width: auto;
	padding: 18px 30px;
}
.cbp-spmenu-bg .left-menu-link .media-box a:hover {
background:#d6d6d3;
color: #444;
padding: 18px 30px;
}

.cbp-spmenu-bg .profile-info > h3 {
    color: #222;
    margin: 0 0 14px;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile-pic {
    float: left;
    margin-right: 10px;
    width: 40px;
}
.profile-pic > img {
    border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
    height: 40px;
    width: 100%;
}
.profile-pic-txt {
    padding: 5px 0 0 50px;
}
.profile-pic-txt > p {
    color: #555;
    font-size: 12px;
}
.profile-pic-txt span {
	display:block;
    color: #222;
    font-size: 14px;
    text-transform: uppercase;
}

/*more button css*/
.more-btn-rw { padding:10px 0; text-align:center;}
.more-btn-rw .btn {
    border-color: #4a4a4a;
    color: #020202;
    font-size: 13px;
    line-height: normal;
    max-width: 500px;
    padding: 12px 10px;
    text-align: center;
    width: 100%;
}
.more-btn-rw .fa {
    margin: 0 5px 0 0;
	font-size:12px;
}
.more-btn-rw .btn:hover { background:#eee;}
/* cbp-spmenu-bg end*/

/*.tag-block {
	padding-bottom: 40px;
}*/

.m-gridster .grid-focused {  opacity: 1; background:#ccc}
.single-img.grid-focused { opacity:0.5; transition: all linear 0.3s; -webkit-transition: all linear 0.3s; }

.innerimg-wrap img {
    height: 100% !important;
    width: 100%;
}

#montageContainer .innerimg-wrap img {
    height: 100% !important;
    width: 100%;
}

.m-gridster .close_icon {
	background: url("/assets/page/img/icons/icon-act-cross.png") no-repeat scroll center center rgba(0, 0, 0, 0.3);
	display: block;
	margin: 20px auto;
	/*top: -18px;*/ /*16-9-15*/
	top:0; /*16-9-15*/
	right: 0;
	margin-top:0; /*16-9-15*/
	margin-bottom:0; /*16-9-15*/
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: rgba(0,0,0,0.3);
}

#overlay2 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #000;
    opacity: 0.7;
    filter: alpha(opacity=70) !important;
    display: none;
    z-index: 999998;
}

#overlayContent2 {
	max-height: 125px;
	max-width: 125px;
	display:none;
	margin:-62px  0 0 -62px	;
	min-height: 100px;
	outline: 0 none;
	overflow: hidden;
	padding: 20px;
	position: fixed;
	text-align: center;
	top: 50%;
	left:50%;
	width: auto;
	z-index: 999999;
	
}

#overlayContent2 img{width:100%}
#overlay3 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #000;
    opacity: 0.7;
    filter: alpha(opacity=70) !important;
    z-index: 99;
}

#overlayContent3 {
	max-height: 125px;
	max-width: 125px;
	margin:-62px  0 0 -62px	;
	min-height: 100px;
	outline: 0 none;
	overflow: hidden;
	padding: 20px;
	position: fixed;
	text-align: center;
	top: 75%;
	left:50%;
	width: auto;
	z-index: 99;
	
}

#overlayContent3 img{width:100%}

.drag-me img {
    height: 44px;
    width: 44px !important;
	
	display:block; /*10-9-15*/
}

#holder-box img {
    height: auto !important;
}


/*Popup style start*/

.common-popup-inner { padding:10px;}

.clearfixx:after,
.common-popup-inner:after{
content:'';
display:table;
clear:both;
}

.record-v-popup .left1{
	float: left;
	width: 50%;
	padding:0 25px 0 0;
}
.record-v-popup .left {float:left; width:50%;}
.record-v-popup .video-wrap{
    background:#f2f2f2;
	border:1px solid #dbdbdb;
	position:relative;
	
}
.record-v-popup .video-wrap:hover a{
opacity:0.8;
}
.record-v-popup .video-wrap a{
left: 50%;
margin: -25px 0 0 -25px;
position: absolute;
top: 50%;
}

a,
button,
input
{
transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-webkit-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
}

.record-v-popup .buttons-section { padding:0;}
.record-v-popup .dark_btn {
    background: #e1e1e1 none repeat scroll 0 0;
    border: 1px solid #dedede;
    margin: 0;
    padding: 10px 25px;
    width: 100%;
	cursor:pointer;
}
.record-v-popup .dark_btn:hover { background:#ebebeb;}

.record-v-popup .padded > h3 {
    font-size: 15px;
	padding:2px 0 0;
}

.record-v-popup .option_info {
    font-size: 12px;
    padding: 15px 0 0;
}
.record-v-popup .option_info ul{ padding:0;}

.record-v-popup .option_info > p {
    color: #474747;
    font-size: 13px;
    font-weight: bold;
    padding: 0 0 8px;
}

.p-btm-btn { position: relative;} /*21-7-15*/
.p-btm-btn input[type="button"],
.p-btm-btn .btn,
.p-btm-btn .link
{
background: #a2a2a2;
border: medium none;
color: #ffffff;
font-size: 14px;
font-weight: bold;
padding: 13px 12px;
text-align: center;
width: 100%;
cursor:pointer;
opacity:1;
display:inline-block;
vertical-align:top;
}
.p-btm-btn input[type="button"] { 
-moz-appearance:none;
-webkit-appearance:none;
height:100%;
border-radius:0;
-moz-border-radius:0;
-webkit-border-radius:0;
border-radius:0;
}

.p-btm-btn input[type="button"]:hover { background:#929292;}
.checkbox-rw { position:relative;}
.checkbox-rw input[type="radio"] {
position:absolute;
top:0;
left:0;
opacity:0;
}
.checkbox-rw input[type="radio"] + .checbox-icn {
display:inline-block; vertical-align:top;
background:url(/assets/page/img/radio-btn.png) 0 0 no-repeat;
width:16px;
height:16px;
}
.checkbox-rw input[type="radio"]:checked + .checbox-icn {
background:url(/assets/page/img/radio-btn-check.png) 0 0 no-repeat;
}

.options-ul li { padding:0 0 6px 0;}
.options-ul li .ng-binding {
    display: inline-block;
    padding: 0 0 0 2px;
    vertical-align: top;
}
.linkupload2 textarea {
    border: 1px solid #cacaca;
    padding: 10px;
    width: 100%;
}
.video-label.img-label {
color: #444;
font-size: 12px;
padding: 7px 0 0;
}

/*21-8-15 start _Rajvir*/
.browse-data{
position: relative;
}

.browse-data input
{
left: 0;
opacity: 0;
position: absolute;
top: 0;
width: 100%;
cursor:pointer;
}
.browse-data input[type="file"]::-webkit-file-upload-button { cursor:pointer;}
/*21-8-15 end _Rajvir*/
.media-input-ttl {position:absolute; top:-35px; left:10px; right:0; width:92%;}
.media-input-ttl input{ background:none; border:none; width:100%; height:100%;}
.common-popup-inner iframe{ width:100% !important;}

.bg-popup {z-index:101; /*15-9-15*/ }

.record-v-box > h4 {
    color: #545454;
    font-size: 14px;
    font-weight: normal;
    padding: 0 0 7px;
}
.record-v-box .record-v-pic {
    overflow: hidden;
    position: relative;
}
.record-v-pic img,
.record-v-popup img
{ max-width:100%;}

.record-v-box .record-v-pic .recordVideo {
bottom: 0;
left: 0;
opacity: 0;
position: absolute;
right: 0;
top: 0;
}



.pading_top_botm {
  float: left;
  height: 100%;
  overflow-y: scroll;
  padding: 0;
  width: 100%;
}


.board-gallery ul{ padding:0;}
.board-gallery li {
    display: block;
    float: left;
    height: auto !important;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 25% !important;
	border:1px solid;
}
.board-gallery .select-li { background:#eaeaea;
 border-color: #cacaca;
}

.board-gallery li img{ border:1px solid #ddd;}
.pic-item {
    display: block;
    height: 285px !important;
    margin: 15px !important;
    overflow: hidden;
	position:relative;
}
.board-pic-item { height: auto !important;}
.pic-item-inr, .pic-item-inr img {
    height: 100%;
}
.board-pic-item .pic-item-inr img {
    height: auto;
	vertical-align: top;
}
.pic-item-inr > img {
    max-width: 100%;
}
.pic-overlayer {
background-color: rgba(0, 0, 0, 0.8);
bottom: 0;
left: 0;
opacity: 0;
position: absolute;
right: 0;
top: 0;
transition: all 0.2s ease-out 0s;
}
.pic-item:hover .pic-overlayer {
    opacity: 1;
}
.pic-item-txt {
color: #ffffff;
font-family: "brandon",sans-serif;
font-size: 14px;
left: 0;
letter-spacing: 3px;
margin: -10px 0 0;
position: absolute;
right: 0;
text-align: center;
text-transform: uppercase;
top: 50%;
}




.popup-ttl-bg {
padding: 8px 10px;
position:relative;
overflow: hidden;
background: #ddd;
border-bottom: 1px solid #bbb;
color: #222;
font-weight: bold;
}
.popup-cls-icn{
height: 12px;
margin: -6px 0 0;
padding: 1px;
position: absolute;
right: 16px;
top: 50%;
width: 12px;
background: url("../../img/cross-grey.png") 50% -12px repeat-x;
cursor:pointer;
transition:all 0.3s ease 0s;
-moz-transition:all 0.3s ease 0s;
-webkit-transition:all 0.3s ease 0s;
-o-transition:all 0.3s ease 0s;
}
.popup-cls-icn:hover {
background: url("../../img/cross-grey.png") 50% 0px repeat-x;
}

.main-container-boards-index .main.wrapper {
    overflow: hidden !important;
    padding: 15px 0;
}

.main-container-boards-index.main-container-boards-index2 { overflow:visible;}
/*Popup style end*/

/*discuss view style start*/
.single-img-bx {
background: #fff;
border: 1px solid #cfcfcf;
margin: 25px 0 0;
padding: 8px;
width: 100% !important;
}

.slider-btm-arrow .slide-arw {
    background-color: #fff;
    bottom: 0;
    color: #000000;
    font-family: "brandon",sans-serif;
    opacity: 0.7;
    position: fixed;
}

.slide-arw .i-ico {
    background-color: #aaaaaa;
    display: inline-block;
    height: 45px;
    text-indent: -999999px;
    vertical-align: top;
    width: 45px;
}


.slide-preview {
background: #eaeaea;
border: 0 solid #cacaca;
text-align: center;
}
.slide-preview:hover,
.slide-preview:focus
{
color:#000;
}

.row.row-margin { margin:0;}


.m-gridster-2 .gridster {
    max-width: 500px;
    padding: 0 35px;
    width: 100% !important;
}

.slide-del-btn {
    background: none repeat scroll 0 0 #fff;
    border-radius: 50%;
    bottom: 50px;
    height: 25px;
    opacity: 1;
    position: fixed;
    right: 16px;
    text-align: center;
    width: 25px;
    z-index: 1;
}
.slide-del-btn img{
margin: 6px 0 0;
width: 13px;
}
/*.btns-btm.btns-btm-2 { margin-left:9px;}*/

/*discuss view style end*/

#montageContainer { height:444px;}


/*flashmenu style start*/
.flash-msg-txt.flash_msg_element {
    width: 40%;
	font-size:12px;
}
/*flashmenu style end*/


.quest-row.quest-row-2{
margin:0;
width: auto;
}
.quest-row.quest-row-2 .toggle-menu { left:auto;}
.nw-subheader.nw-subheader-2 { 
margin:0;
}
main.container .tooltips.tooltips2,
main.container .tooltips.tooltips2 .a-square
{ right:0;}
main.container .a-circle.a-circle-2 {
    bottom: 0;
    left: auto;
    right: -40px;
    top: auto;
}

/*discuss view tray images style start*/
.image-selector img { border:1px solid #ddd;}
/*discuss view tray images style end*/

.play-btn {
    display: inline-block;
	 vertical-align: middle;
	 width: 89px;
    height: 89px;
    left: 50%;
	 top: 50%;
    margin-left: -44px;
    margin-top: -44px;
    position: absolute;
	 z-index:99; /*27-7-15*/  
	 opacity:0.7;
	 border:none;
}
.play-btn.play-btn-md {
width:76px;
margin-left: -38px;
margin-top: -38px;
}
.play-btn.play-btn-sml {
margin-left: -17px;
margin-top: -17px;
width: 35px;
opacity:1;
}
#noteContainer { padding:10px;}
#noteContainer,
#noteContainer *,
.noteContainer *
{ color:#757575;
word-break: break-all;
}

.discuss-img-cont:hover .play-btn{
opacity:1;
}

.ui-widget-overlay { background:rgba(0,0,0,0.7); opacity:1; }
.flash_msg_element{
	width:90%;
}

main.container .image-selector.discuss_trayArea2 .close_icon {
z-index:10;
}
.ans-note-popup {
z-index: 9999;
}
.quest-btn {
display:inline-block; width:100%;
}


/*.prev-m, .next-m{z-index:99;}*/
.prev-m, .next-m, .prv-m, .nxt-m{ position:fixed; bottom:/*20px*/0; opacity:0.7; font-family: 'brandon', sans-serif; color:#000;}
.prev-m:hover, .next-m:hover{opacity:1;}
.next-m, .nxt-m{right:0;}
.i-prev, .i-next{opacity:1;}
.slide-arw .i-prev{background-image:url(/assets/board/img/icons/prev-m.png); background-position:center center; background-repeat:no-repeat;}
.slide-arw .i-next{background-image:url(/assets/board/img/icons/next-m.png);  background-position:center center; background-repeat:no-repeat;}

.prv-m, .nxt-m{width:150px; height:150px; text-align:center; opacity:1; z-index:5;}
.md-pic{width:85px; height:85px; overflow:hidden; margin:0 auto;}
.md-text{ font-size:14px; font-weight:700; height:85px; display:table; text-transform:uppercase; width:100%;}
.md-text span{display:table-cell; vertical-align:middle;}

.slider-btm-arrow .prv-nxt-t {
    display: inline-block;
    font-size: 16px; /*10-9-15*/
    padding: 7px 0;
}

.md-pic img {
	max-height: 100px;
	max-width: 100px;
}
/* Next Previous Button */




/*These common-classes should always be at bottom*/

.grey-bg { background:#e5e5de;}
section.shadow-no {
box-shadow:0 0 0 0;
-moz-box-shadow:none;
-webkit-box-shadow:none;
}
#discuss_gallery_elements .dropdown-box{ bottom: 0px; display:inline; }
#discuss_gallery_elements .dropdown-nav{z-index: 10}
#discuss_gallery_elements .format_file{
	background-color: red;
	position: absolute;
	top: 270px;
}
body.wait, body.wait * {
cursor: wait !important;
}

/*10-7-15*/
.slider    { overflow:hidden; position:relative; }
.slider ul { margin:0; padding:0; }
.slider li { float:left; margin:0 5px 0 0; list-style:none; }

/* IE6 issues */
.slider ul { width:100%; }
.mCSB_container {
	min-height: 50px;
}


/*20-8-15 start _Rajvir*/

.ui-widget-content.ui-autocomplete { max-height:250px; overflow:auto;}
.ui-widget-content.ui-autocomplete { background:#fff; z-index:102; /*16-9-15*/}
.ui-widget-content.ui-autocomplete li,
.ui-widget-content.ui-autocomplete li:hover
{ padding:0;}

.ui-widget-content.ui-autocomplete a {
    border-bottom: 1px solid #eee;
    color: #222;
    display: block;
    font-size: 11px;
    padding: 10px;
    text-transform: uppercase;
}
.ui-widget-content.ui-autocomplete a:hover,
.ui-widget-content.ui-autocomplete li.ui-state-focus
{background:#eee;}

.ui-widget-content.ui-autocomplete .ui-state-focus, 
.ui-widget-content.ui-autocomplete .ui-state-active
{
margin:0;
}
.ui-widget-content.ui-autocomplete .ui-state-hover, 
.ui-widget-content.ui-autocomplete .ui-widget-content .ui-state-hover, 
.ui-widget-content.ui-autocomplete .ui-widget-header .ui-state-hover, 
.ui-widget-content.ui-autocomplete .ui-state-focus, 
.ui-widget-content.ui-autocomplete .ui-widget-content .ui-state-focus, 
.ui-widget-content.ui-autocomplete .ui-widget-header .ui-state-focus 
{ background:none;}
/*20-8-15 end _Rajvir*/

.main-container-boards-index .main.wrapper {
    position: relative;
}
#addFromBoards .confirmon-overlay{
	z-index:0 !important;
}

/*16-7-15*/
#closeBtn {
background: none repeat scroll 0 0 rgba(255, 255, 255, 0.698);
border-radius: 50%;    height: 30px;    line-height: 20px;
position: fixed;
right: 20px;
text-align: center;
top: 10%;
transition: all 0.5s ease-in-out 0s;
-moz-transition: all 0.5s ease-in-out 0s;
-webkit-transition: all 0.5s ease-in-out 0s;
width: 30px;
z-index:9900 !important;
text-align: center;
}
#closeBtn span{
display: inline-block;
margin: 5px 0 0;
vertical-align: top;
font-family: sans-serif,arial;
}
#closeBtn:hover {
background-color:#fff;
}
.iframeMontage {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
	background: #000;
	position: relative;
	
	/*11-9-15 start*/
	height: 0;
    padding-bottom: 56.25%;
    /*padding-top: 25px;*/
	/*11-9-15 end*/
}
.iframeMontage iframe {
width: 100%;
z-index: 1;
position: relative;

/*11-9-15 start*/
height: 100%;
left: 0;
position: absolute;
right: 0;
width: 100%;
/*11-9-15 end*/
}

/*11-9-15 start*/
/*.iframeMontage .instagram-media { height:auto;}*/
/*11-9-15 end*/


.iframeMontage:after {
    background: url("/assets/img/video-preloader.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 64px;
    left: 50%;
    margin: -16px 0 0 -16px;
    opacity: 0.4;
    position: absolute;
    top: 50%;
    vertical-align: top;
    width: 64px;
}	

/*20-7-15 start*/
#discuss_view #iframeContainer iframe {
	position: relative;
	z-index: 1;
}

#search_view #iframeContainer iframe {
	position: relative;
	z-index: 0;
}
/*20-7-15 end*/

/* comment on 4-8-15 _Rajvir
.cbp-spmenu-bg {
	box-shadow: 0 0 5px #9a9a9a;
	-moz-box-shadow: 0 0 5px #9a9a9a;
	-webkit-box-shadow: 0 0 5px #9a9a9a;
	-o-box-shadow: 0 0 5px #9a9a9a;
}*/

/*16-7-15 start*/
.img-cont-inner {
position: relative;
overflow: hidden;
}
.media-btm-rw {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
	z-index: 106;
}
.media-action-icn {
    display: inline-block;
    height: 36px;
    vertical-align: top;
    width: 38px;
	background:rgba(255, 255, 255, 0.5);
	background-repeat: no-repeat;
	
    transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	opacity: 0;
	visibility: hidden;
	
	position: relative;
	bottom: -35px;
	height: 0;
}
.media-action-icn:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
.m-delete-icn {
  background-image: url("/assets/board/img/icons/sprite_icon.png");
  background-position: -137px -90px;
  height: 35px;
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;
  z-index: 100;
}
.m-mark-icn {
  background-position: 50% 50%;
  background-image: url("/assets/board/img/icons/mark-wt.png");
}
.m-stamp-icn {
  background-position: -2px -193px;
  background-image: url("/assets/board/img/icons/sprite_icon.png");
}
.m-vote-icn {
  background-position: 50% 50%;
   background-image: url("/assets/board/img/icons/vote-wt.png");
}

.img-box .img-cont:hover .media-action-icn {
  bottom: 0;
  height: 35px;
  opacity: 1;
  visibility: visible;
}
.ui-widget-overlay {z-index: 110 !important;}
.ui-dialog { z-index: 111 !important; position: fixed !important}
 
 /*need to check class for montage view pic start*/
 .m-gridster-2 {
    margin: 30px 0;
}

.gridMontageCase.m-gridster-2 .gridster {
    border: 1px solid #cacaca;
    max-width: 468px;
    padding: 0;
    position: relative;
	z-index: 0;
    width: 100% !important;
}

.gridMontageCase.m-gridster-2 .gridster {
height: 466px;	
}
.gridMontageCase.m-gridster-2 .single-img-bx {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    left: 10px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 10px;
    width: 100% !important;
}
 /*need to check class for montage view pic end*/
 
/*16-7-15 end*/


/*24-7-15 dev*/

.country_container{
	/*max-height: 200px;*/
	overflow: hidden;
	color: #000;
	padding-top: 10px;
	position: relative;
}
.country_container li,
.selected_country_container li{
	color: #333333;
    font-size: 12px;
    padding: 0 0 13px;
    position: relative;
    text-transform: uppercase;
	cursor: pointer;
}
.country_container ul {
    padding-left: 5px;
}
.selected_country_container ul {
    padding-left: 5px;
}
.selected_country_container ul li span ,.country_container ul li span{
    position: absolute;
    right: 6px;
	font-size: 10pt;
	width: 20px;
	text-align: right;
}
.selected_country_container li:hover, .country_container li:hover,
.selected_country_container li:hover, .country_container li:hover .c-close-icn
{
    color:#666;
}

.selected_country_container ul li span:hover ,.country_container ul li span:hover{
    font-weight: bold;
}

.country_input{
	background: none repeat scroll 0 0 #fff;
    border: medium none;
    border-radius: 15px;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    transition: all 0.2s ease 0s;
    width: 100% !important;
}
.selected_country_container{
	color: #000;
	position: relative;
	padding-bottom: 10px;
}
/*24-7-15* dev/

/*24-7-15*/
.input-country {
    padding: 0 0 7px;
}
.tag-block-scroll #lmn_slider .activeKey span,
.tag-block-scroll #lmn_slider .active:hover span
{ color: #04CB9A;}

/*27-7-15 start*/
.vloader { position: absolute; top:50%; left: 0; right: 0; text-align: center; margin: -16px 0 0 0;}
/*27-7-15 end*/
/*

.user-pic span {
    color: #fff;
    display: inline-block;
    font-family: "indexbold";
    font-size: 17px;
    font-weight: bold;
    padding: 12px 0 0;
    position: relative;
    vertical-align: top;
}*/
.item-counter-overlay{
	 position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color:#000;*/
    color: #fff;
    padding: 50%;
    padding: 50%;
	
	/*2-9-15 start*/
	border-radius: 0px; 
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-o-border-radius: 0px;
	/*2-9-15 end*/
	
	background: rgba(0, 0, 0, 0.2);
	font-size: 24px;
	text-shadow: 0 2px 9px #000;
	-moz-text-shadow: 0 2px 9px #000;
	-webkit-text-shadow: 0 2px 9px #000;
	-o-text-shadow: 0 2px 9px #000;
}
.media-count{
	top:6px;
	left: 0;
	right:0;
	bottom: 0;
	position: absolute;
	font-weight:  bold;
}

/*19-8-15 start _Rajvir*/
.center-container { max-width:990px; width:100%; margin:0 auto;}

/*21-8-15 start _Rajvir*/
.dropdown-box-full {width:160px;}
/*21-8-15 end _Rajvir*/

@font-face {
	font-family: 'Conv_Graphik-Medium';
	src: url('fonts/Graphik-Medium.eot');
	src: local('☺'), url('fonts/Graphik-Medium.woff') format('woff'), url('fonts/Graphik-Medium.ttf') format('truetype'), url('fonts/Graphik-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/** Generated by FG **/
@font-face {
	font-family: 'Conv_Graphik-Bold';
	src: url('fonts/Graphik-Bold.eot');
	src: local('☺'), url('fonts/Graphik-Bold.woff') format('woff'), url('fonts/Graphik-Bold.ttf') format('truetype'), url('fonts/Graphik-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.noteIcons.margin-rt-0 { margin-right:0;}
/*19-8-15 end _Rajvir*/

/*20-8-15 start _Rajvir*/
#searchList__mediaTray .close_icon{ display:none;}
/*20-8-15 end _Rajvir*/


/*parul 21082015*/
input[type="file"] {
  cursor: pointer;
}

/*25-8-15 start _Rajvir*/
input:-webkit-autofill, 
textarea:-webkit-autofill, 
select:-webkit-autofill {
	-webkit-box-shadow: 0;
}
#content.boards .tag-label input[type="text"] {
width:auto;
font-family: index;
border:none;
width:110px;
line-height:normal;
margin:0;
height:auto;
background: none;
border: medium none;
color: #8a896d;
font-family: index;
font-size: 20px;
font-weight: 700;
padding: 0 0 0 4px;
width: 110px;
}
/*25-8-15 end _Rajvir*/

/*26-8-15 start _Rajvir*/
.more-btn-rw .btn {
    background: none;
    border-color: #4a4a4a;
    color: #020202;
    display: inline-block;
    font-family: "brandon-light",sans-serif;
    font-size: 13px;
    height: auto;
    line-height: normal;
    max-width: 500px;
    padding: 12px 10px;
    text-align: center;
    width: 100%;
}
/*26-8-15 end _Rajvir*/

.tooltip{
  font-family: "Raleway",sans-serif;
}
.holder_bulb_iframe {
    background: url("/assets/img/video-loader.GIF") no-repeat scroll center center rgba(0, 0, 0, 0);
    min-height: 80px;
    /*opacity: 0.2;*/
}

/*10-9-15 start*/
.header-bg { background-size:cover; }
.page-arrow-cmn {
	position:fixed;
	top:58%;
	background-color: rgba(0,0,0, 0.65);
	border:1px solid rgba(0,0,0, 0.25);
	text-align:center;
	width:45px;
	height:50px;
	font-size:35px;
	cursor:pointer;
	z-index:102;
	border-radius:2px;
}
.page-arrow-cmn span i { 
	color:#fff;
}
.page-arrow-cmn:hover span i { 
	color:#fff;
}
.left-page-arrow {
	left:-2px;
	border-left:none;
}
.right-page-arrow {
	right:-2px;
	border-right:none;
}
.left-page-arrow > span,
.right-page-arrow > span
{
display: inline-block;
padding: 2px 0 0 0;
}
.iframeMontage .instagram-media
{
max-width:none !important; 
margin: 0 auto !important;
width:100% !important;
}

/*14-9-15 start*/
.dropdown-box.dropdown-box-wide { width:50px;}
/*14-9-15 end*/

/*18-9-15 start*/
.cbp-spmenu { background-color:#e5e5de;}
#left-menu.left-menu-creation ul li a,
#left-menu.left-menu-creation p,
#left-menu.left-menu-creation #heading,
.cbp-spmenu a#home-btn,
.cbp-spmenu a#home-btn:hover
{ color:#222;}
#left-menu.left-menu-creation ul li,
#left-menu.left-menu-creation #heading
{
border-bottom:1px solid #bababa;
}
#left-menu.left-menu-creation #home-btn:hover {
background-color:#e5e5de;
}
.cbp-spmenu-left {left: -250px;}
.cbp-spmenu-vertical {width:250px;}
.cbp-spmenu a {width:100%;}
.cbp-spmenu a:hover { background:#d6d6d3;}
.cbp-spmenu a#home-btn {
font-size: 12px;
}

/*18-9-15 end*/