<div class="well nav-collapse sidebar-nav">
<ul class="nav nav-tabs nav-stacked main-menu top-header">
	<li><a class="ajax-link" href="#/dashboard"><i class="icon-home"></i><span class="hidden-tablet"> Dashboard</span></a></li>
	<li><a class="ajax-link" href="#/massimageupload"><i class="icon-asterisk"></i><span class="hidden-tablet"> Media Uploader</span></a></li>
	<li><a class="ajax-link" href="#/mediamanager"><i class="icon-asterisk"></i><span class="hidden-tablet"> Media Manager</span></a></li>
</ul>
</div>