<!-- Right menu element-->

<div id="meta_overlay">
	<div class="confirmon-overlay" style="display: block;z-index:99;"></div>
	<div id="meta_comment">
		<!--Comments Section Start-->	
		<div class="commentsframe">
				<a class="prev_comment"></a>
			<a class="next_comment"></a>
			<a class="close_comment close_view_comment"></a>
			<div class="comments-widget">
			<!--<a class="prev_comment"></a>
			<a class="next_comment"></a>
			<a class="close_comment close_view_comment"></a>-->
			<div class="comment_holder">
			<div ng-if="!boardComments">No comments!</div>
				<div class="comment current commentsp" ng-click="commentIndex($index)" ng-repeat="comment in boarddata[0].Comments" scrollable>
					<span class="usrpic" title='{{comment.CommentedBy.Name}}'><img ng-src="{{comment.CommentedBy.ProfilePic}}"  class="avatar" style="border-radius: 50% !important;height: 34px;width:34px;"></span><!--parul 5jan 2015-->
					<div class="usrcomt">
						<div class="usercom_text">{{comment.CommentText}}</div>
						<div class="vote-widget">
							<a title="Delete" class="i-ico i-ico5 sml-ico right-del" href="javascript:void(0);" ng-click="delcmntPop(comment)" ng-show="(userInfo._id==boarddata[0].OwnerID._id)||(userInfo._id==comment.CommentedBy._id)"></a>
							<div class="vote-counter"><a id='{{comment._id}}' title="Vote" ng-click="commentVote(comment)" class="i-ico ico-thumb ico-middle p-l0" href="javascript:void(0)" ></a>{{comment.Votes.length}} &nbsp;Vote<span ng-if="comment.Votes.length>1||comment.Votes.length==0">s</span></div>
							
						</div><!--/Vote-->
					</div>
					
				</div>
			</div>
			</div>  
			<div class="add-comment" id='add-cmnt'><a href="javascript:void(0)">Add Comment</a></div>
		</div>	
		<!--Comments Section Closed-->

		<!--Write Comment Start-->   	
		<div class="write-comment" style="display:none;">
			<a class="close_comment close_add_comment"></a>
			<div class="writecomment">
			<p class="pdrt"> <form name="myform">
                <!--<textarea id="comment-box" name="limitedtextarea" onKeyDown="limitText(this.form.limitedtextarea,this.form.countdown,470);"
onKeyUp="limitText(this.form.limitedtextarea,this.form.countdown,470);" cols="" rows="" class="textarea" ng-model="comment.title" placeholder="Describe yourself with 4 words..."></textarea>-->
                <textarea id="comment-box" name="limitedtextarea"  cols="" rows="" class="textarea" ng-model="comment.title" placeholder="Describe yourself with 4 words..." ng-keyup="countWords()"></textarea>

            </form> {{50-noOfWords.length}} words remaining..</p>
			</div>  
			<div class="add-comment"><a href="javascript:void(0)" ng-click="addcomment()" id="donebtn">Done</a></div>
		</div>	
		<!--Write Comment  Closed-->
	</div>
</div>

<!--Not in use-->
<div class="dialog ui-helper-hidden" data-dialog-id="1" title="Basic dialog 1">
	<p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
</div>
<div class="dialog ui-helper-hidden" data-dialog-id="2" title="Basic dialog 2">
	<p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
</div>
<!--Not in use-->


<!--Write Note  Start-->
<div id="writenote"  class="dialog dialog-redactor ui-helper-hidden" data-dialog-id="4" title="Write Note">
	<a class="addmediamodal" title="Add Media"></a>
	<a class="hidetoolbar" title="Toolbar"></a>
	<textarea htmleditor-redactor ng-model="notes.comment" style="max-height:150px;"></textarea>
	<a href="javascript:void(0)" ng-click="checknotes()" class="btn btn_add_text">Done</a>
</div>
<!--Write Note  Closed-->

<!--Link Upload Start-->
<!--Link Upload-1 Start-->
<div class="dialog ui-helper-hidden window_button_theme dialog-redactor" data-dialog-id="221" title="Link Upload">
	<div class="linkupload">
	<textarea placeholder="Drag and Drop Youtube/Vimeo videos or Google Images" style="max-height:100px;" id="capturetext" ng-model="link.content"  class="fullwidth"></textarea>
	<a type="button" ng-click="uploadLink()" class="btn btn_add_text blkbtn">Done</a>
	</div>
</div>
<!--Link Upload-1 Closed-->

<a href="javascript:void(0)" class="link_upload_themes" style="display:none" data-dialog-id="420" rel="dialog">test</a>

<!--Link Upload-2 Start working add tags-->
<div class="dialog dialog-redactor ui-helper-hidden window_media_load akkadbakkad" data-dialog-id="420" style="width:100%; overflow:visible;">
	<div class="clear">
		<!--<input type="text" placeholder="Label your media" class="keyword-search bx-sz" id="tag-Input-Token" name="abc" tag-input-token="selectedgt" />--><!--commented by parul 07012015-->
		<input type="text" placeholder="Label your media" class="keyword-search bx-sz" id="tag-Input-Token2" name="abc" />
	</div>
	<form action="#">
	<div class="left leftcol">
	<div class="img_holder link_holder" style="max-height:150px; height:150px; overflow:auto"></div>
	 <p class="img-label">{{webLinkTitle}}</p>
	</div>

	<div class="left rightcol">
	<div class="padded">
	<h3>What theme does this represent?</h3>
	<div class="option_info">
		<p>Essentially, a</p>
		<ul>                
			<!--<li ng-repeat="mmts in mmt" ng-if="mmts._id != '54e7211a60e85291552b1187'"  ng-click="changemmtlink(mmts._id)">
			-->
			<li ng-repeat="mmts in mmt" ng-click="changemmtlink(mmts._id)">	
				<input id="{{mmts._id}}" ng-model="link.mmt" type="radio" name="radio" value="{{mmts._id}}" hidden/>
				<label for="{{mmts._id}}" title="">{{mmts.MetaMetaTagTitle}}</label>
			</li>
		</ul>
	</div>
	<div class="option_info">
	<p>Which I want to</p>
	<ul>                
		<li>
			<input value='1' id="privateLink" ng-model="link.isPrivate" type="radio" name="radio31"  hidden/>
			<label for="privateLink">Keep private</label>
		</li>
		<li>
			<input value='0' id="shareLink" ng-model="link.isPrivate" type="radio" name="radio31" checked="true" hidden/>
			<label for="shareLink">Share with others</label>
		</li>
	</ul>
	</div>
	</div>
	</div>

	<div class="clear">
	<!--<input ui-items="groupt" ng-model="link.gtsa" id="tags2" placeholder="What does this represent?" auto-complete-link class="keyword-search" />
	<input ng-model="link.gt" type="hidden" />-->
	<input type="button" ng-click="addTags()" value="Done">
	</div>
	</form>
</div>

<!--Link Upload-2 Closed-->
<!--Link Upload Closed-->

<div class="dialog dialog-redactor ui-helper-hidden window_media_load akkadbakkad" data-dialog-id="21" style="overflow: visible;">
	<div class="clear">
		<!--<input type="text" placeholder="Label your media" class="keyword-search bx-sz" id="tag-Input-Token" name="abc" tag-input-token="selectedgt" />--><!--commented by parul 07012015-->
		<input type="text" placeholder="Label your media" class="keyword-search bx-sz" id="tag-Input-Token" name="abc" />
	</div>
	<form action="#">
	<div class="left leftcol">
		<div class="img_holder" style="max-height:150px; overflow:auto">
			<img ng-if="uploadedMedia.ContentType=='application/pdf'" class="" style="max-height:180px"  ng-src="../assets/img/PDF.png" alt="Sample PDF 1">
			<img ng-if="uploadedMedia.ContentType=='application/vnd.openxmlformats-officedocument.wordprocessingml.document' || uploadedMedia.ContentType=='application/msword'" class=""  ng-src="../assets/img/Icon-Document.jpg" style="max-height:180px" alt="Sample Word 1">
			<img ng-if="uploadedMedia.ContentType=='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' || uploadedMedia.ContentType=='application/vnd.ms-excel' || uploadedMedia.ContentType=='application/vnd.oasis.opendocument.spreadsheet'" class=""  ng-src="../assets/img/excel.png" style="max-height:180px" alt="Sample Excel 1">
			<img ng-if="uploadedMedia.ContentType=='application/vnd.openxmlformats-officedocument.presentationml.presentation' || uploadedMedia.ContentType=='application/vnd.ms-powerpoint'" class=""  ng-src="../assets/img/ppt.png" style="max-height:180px" alt="Sample PPT 1">
			<img ng-if="uploadedMedia.ContentType=='image/png' || uploadedMedia.ContentType=='image/jpeg' || uploadedMedia.ContentType=='image/gif' || uploadedMedia.ContentType==null" class=""  ng-src="../assets/Media/img/{{uploadedMedia.Location[0].URL}}" style="max-height:180px" alt="Sample Image 1">
		</div>
		<!--<p class="img-label">The Ruins of Lodhi Garden, Delhi</p>-->
	</div>	
	<div class="left rightcol">
		<div class="padded">
			<h3>What theme does this represent?</h3>
			<div class="option_info">
				<p>Essentially, a</p>
				<ul>                
					<li ng-repeat="mmts in mmt" ng-if="mmts._id != '54e7211a60e85291552b1187'"  ng-click="changemmt(mmts._id)">
					<input id="{{mmts._id}}" ng-model="media.mmt" type="radio" name="radio" value="{{mmts._id}}" hidden/>
					<label for="{{mmts._id}}" title="">{{mmts.MetaMetaTagTitle}}</label>
					</li>
				</ul>
			</div>
			<div class="option_info">
				<p>Which I want to</p>
				<!--
				<input id="private" ng-model="media.isPrivate" type="checkbox" name="private" hidden/>
				<label for="private">Private</label>
				-->
				<ul>                
					<li>
						<input id="private" value='1' ng-model="media.isPrivate" type="radio" name="radio1Media" hidden/>
						<label for="private">Keep private</label>
					</li>
					<li>
						<input id="share" value='0' ng-model="media.isPrivate" type="radio" name="radio1Media" hidden/>
						<label for="share">Share with others</label>
					</li>
				</ul>			
			</div>
		</div>
	</div>

	<div class="clear">
	<!--<input ui-items="groupt" ng-model="media.gtsa" id="tags2" placeholder="What does this represent?" auto-complete class="keyword-search" />-->
		<input ng-model="media.gt" type="hidden" />
		<input type="button" ng-click="addTags()" value="Done">
	</div>
	</form>
</div>

<!-- Record Video Start-->
<div class="dialog dialog-redactor ui-helper-hidden window_media_load akkadbakkad" data-dialog-id="421" title="Record Video">
	<form>
	<div class="left">
	<div class="img_holder">
	<p class="video-wrap" ng-show="!mobileDevice">
		<span id="loaderImg" style="display:none;"><img src="/assets/img/ajax-loader.gif" alt="" /></span>
		<!--<video height="180px" width="100%"></video> -->
		<video id="popUpVideoTag" height="100%" width="100%"></video> 
		
	</p>
	<p class="video-wrap2" ng-show="mobileDevice && recordingMode == 'video'">
		<label class='recordVideo'>
			Click to Record Video
			<span><input  type="file" accept="video/*" file-model="myFile" capture></span>
		</label>
		<!--<input class='recordVideo' type="file" accept="video/*" file-model="myFile" capture>-->
	</p>
	<p class="video-wrap2" ng-show="mobileDevice && recordingMode == 'audio'">
		<label class='recordAudio'>
			Click to Record audio
			<span><input  type="file" accept="audio/*" file-model="myFile" capture="microphone"></span>
		</label>
		<!--<input class='recordVideo' type="file" accept="video/*" file-model="myFile" capture>-->
	</p>
	</div>
	<div>
	<label id="percentage" style="display:none">0%</label>
	<progress id="progress-bar" value=0 style="display:none"></progress><br />
	</div>
	<ul class="buttons-section">                
		<li>
			<button ng-click="startrecording()" ng-show="!mobileDevice" class="dark_btn" id="btn-start-recording" >Start Recording</button>
		</li>
		<li>
			<button ng-click="stoprecording()" ng-show="!mobileDevice" class="dark_btn" id="btn-stop-recording" style="display:none" disabled="">Stop Recording</button>
		</li>
	</ul>
	</div>

	<div class="left">
		<div class="padded">
			<h3>What theme does this represent?</h3>
			<div class="option_info">
				<p>Essentially, a</p>
				<ul class="">                
					<li ng-repeat="mmts in mmt" ng-if="mmts._id != '54e7211a60e85291552b1187'"   ng-click="changemmt(mmts._id)">
					<input id="{{mmts._id}}" ng-model="media.mmt" type="radio" name="radio" value="{{mmts._id}}" hidden/>
					<label for="{{mmts._id}}" title="">{{mmts.MetaMetaTagTitle}}</label>
					</li>
				</ul>

			</div>
			<div class="option_info">
				<p>Which I want to</p>
				<!--
				<input id="private" ng-model="media.isPrivate" type="checkbox" name="private" hidden/>
				<label for="private">Private</label>
				-->
				<ul>                
					<li>
						<input id="private" value='1' ng-model="media.isPrivate" type="radio" name="radio1Media" hidden/>
						<label for="private">Keep private</label>
					</li>
					<!--<li>-->
					<!--	<input id="share" value='0' ng-model="media.isPrivate" type="radio" name="radio1Media" hidden/>-->
					<!--	<label for="share">Share with others</label>-->
					<!--</li>-->
				</ul>			
			</div>
		</div>
	</div>

	<div class="clear">
		<!--<input ui-items="groupt" ng-model="media.gtsa" id="tags2" placeholder="What does this represent?" auto-complete class="keyword-search bx-sz" />-->
		<input ng-model="uploadedMedia123" value="" id="uploadedvideo" type="text" style="display:none" />
		<input ng-model="media.gt" type="hidden" />
		<input type="button" ng-click="addTags()" ng-show="!mobileDevice" value="Done">
		<input type="button" ng-click="postVideo()" ng-show="mobileDevice && recordingMode == 'video'" value="Done" >
		<input type="button" ng-click="postAudio()" ng-show="mobileDevice && recordingMode == 'audio'" value="Done" >
	</div>
	</form>
</div>
<!-- Record Video Closed-->

<!-- Add theme Start-->
<div class="dialog ui-helper-hidden window_button_theme" data-dialog-id="6" title="Add Theme">
	<div class="addtheme">
	<textarea placeholder="Your theme's title.." class="fullwidth" ng-model="GroupTagTitle"></textarea>
	<textarea placeholder="Enter your theme description..." ng-model="GroupTagNotes"></textarea>
	<input ng-click="createGroupTag()" type="submit" value="Create">
	</div>
	<a href="javascript:void(0)" class="link_themes">See all themes</a>
</div>
<!-- Add theme Closed-->

<!--Probably not in use-->
<div class="dialog ui-helper-hidden window_button_theme" data-dialog-id="7" title="All Themes">
	<div>
	<input placeholder="Search themes.." class="searchthemes"></input>
	<ul>
	<li><a href="#">Theme Name</a></li>
	<li><a href="#">Theme Name</a></li>
	<li><a href="#">Theme Name</a></li>
	<li><a href="#">Theme Name</a></li>
	<li><a href="#">Theme Name</a></li>
	<li><a href="#">Theme Name</a></li>
	<li><a href="#">Theme Name</a></li>
	<li><a href="#">Theme Name</a></li>
	<li><a href="#">Theme Name</a></li>
	</ul>
	</div>
	<div class="centerlinks">
	<a href="#" class="link_themes">&laquo;</a>
	<a href="#" class="link_themes">1</a>
	<a href="#" class="link_themes">2</a>
	<a href="#" class="link_themes">3</a>
	<a href="#" class="link_themes">&raquo;</a>
	</div>
</div>
<!--Probably not in use-->

<!--Probably not in use-->
<div id="notepad" class="dialog dialog-redactor ui-helper-hidden" data-dialog-id="8" title="Notepad">
	<a class="addmediamodal" title="Add Media"></a>
	<a class="hidetoolbar" title="Toolbar"></a>
	<div class="redactor"></div>
	<a href="javascript:void(0)" class="btn btn_add_text">Done</a>
</div>
<!--Probably not in use-->

<!--Duplicate Board Start-->
<div class="dialog ui-helper-hidden window_button_theme" data-dialog-id="25" title="Duplicate Board">
	<div class="addtheme">
	<textarea placeholder="Enter Board Title" ng-model="duplicate.title"  class="fullwidth"></textarea>
	<input type="submit" ng-click="duplicate()" value="Create">
	</div>
	<a href="javascript:void(0)" class="link_themes"></a>
</div>
<!--Duplicate Board Closed-->

<!--Rename Board Start-->
<div class="dialog ui-helper-hidden window_button_theme" data-dialog-id="52" title="Renaming Board">
	<div class="addtheme">
	<textarea placeholder="Enter Board Title" ng-model="rename.title"  class="fullwidth"></textarea>
	<input type="submit" ng-click="renameBoard()" value="Rename">
	</div>
	<a href="javascript:void(0)" class="link_themes"></a>
</div>
<!--Rename Board Closed-->

<!--Rename Theme Start-->
<div class="dialog ui-helper-hidden window_button_theme" data-dialog-id="53" title="Rename Theme">
	<div class="addtheme">
	<textarea placeholder="Enter Theme Name" ng-model="renametheme.title"  class="fullwidth"></textarea>
	<input type="submit" ng-click="renameTheme()" value="Rename">
	</div>
	<a href="javascript:void(0)" class="link_themes"></a>
</div>
<!--Rename Theme Closed-->

<!--Add Member Start-->
<div class="dialog ui-helper-hidden window_button_theme" data-dialog-id="26" title="Add Member">
	<div class="addtheme">
		<form name="addMem">
			<input placeholder="Member's Name" ui-items="myInvitee" auto-complete-invitees autocomplete="off" ng-model="member.name"  class="keyword-search fullwidth" style="padding:15px 20px" />
			<textarea type="email" placeholder="Member's Email" ng-model="member.email"  class="fullwidth" required></textarea>
			<select ng-model="member.relation"  style="padding:15px 18px"  class="fullwidth" >
				<option value="">Select Relationship</option>
				<option ng-repeat="val in fsgs[1].Values">{{val.valueTitle}}</option>
			</select>
			<input type="submit" ng-click="addMembers()" value="Add" ng-disabled="addMem.$invalid ">
		</form>
	</div>
	<a href="javascript:void(0)" class="link_themes"></a>
</div>
<!--Add Member Closed-->

<!--Current Member Start-->
<div class="dialog dialog-redactor ui-helper-hidden window_media_load akkadbakkad" data-dialog-id="29" title="Members List">
	<div id="tabs" class="tabs-container">
		<ul>
			<li id='tb-1'><a href="#tabs-1">Current Members</a></li>
			<li id='tb-2'><a href="#tabs-2">Invited Members</a></li>			
		</ul>
			<div id="tabs-1">
				<form action="javascript:void(0);">
				<div ng-if="!boardMembers">No current member. </div>
				<div ng-show="boardMembers">
					<input id="cur_txt" type="text" class="f-w-s" placeholder="Search current members" ng-model="memSearch" auto-focus>
				</div>
				<div class="current_member2 content12" scrollable>
				<div class="padded">
					<h3 title="{{invitee.UserID.Email}}" ng-repeat="invitee in boarddata[0].Invitees | filter:memSearch">
					<span class="user_profile" >
						<i><img  ng-src="{{invitee.UserID.ProfilePic}}" style="height:30px; width:30px; border-radius:30px;" ></i>
					</span>
					{{invitee.UserName}}
					<span class="ui-dialog-titlebar-close-btn" ng-click="deleteMember(invitee.UserID._id)"> </span>
					</h3>
				</div>
				</div>
			</form>
			</div>
			<div id="tabs-2">
				<form action="javascript:void(0);">
				<div ng-show="myBoardInvitees.length == 0">No Invitation sent yet!!! </div>
				<div ng-show="myBoardInvitees.length != 0">
					<input id="invt_txt" type="text" class="f-w-s" placeholder="Search Invites" ng-model="memSearch2" />
				</div>
				<div class="current_member2 content12" scrollable>
				<div class="padded">
					<h3 title="{{invitee.UserEmail}}" ng-repeat="invitee in myBoardInvitees| filter:{UserName:memSearch2}">
					
					{{invitee.UserName}}
					
					</h3>
				</div>
				</div>
			</form>
			</div>		
		</div>
</div>
<!--Current Member Closed-->

<!--Move Board Start-->
<div class="dialog ui-helper-hidden window_button_theme" data-dialog-id="32" title="Move Project">
	<div class="addtheme">
	<textarea placeholder="Enter project name to move board" ui-items="projectsa" auto-complete-project  ng-model="project.project"  class="fullwidth"></textarea>
	<input type="hidden" ng-model="project.projectid">
	<input type="submit" ng-click="moveBoard()" value="Move">
	</div>
	<a href="javascript:void(0)" class="link_themes"></a>
</div>
<!--Move Board Closed-->