<section class="col-md-2 col-sm-3 col-xs-6 icon-links">
	<!--
	<a ng-show="search_view_case == true" href="javascript:void(0)" ng-click="__openMviewStatementPage()"><i class="fa fa-file-text-o"></i></a> 
	<a href="javascript:void(0)" ng-click="opensearchContainer()" title="Go To Search Gallery"><i class="fa fa-lightbulb-o"></i></a> 
	-->
	<a href="javascript:void(0)"  ng-click="opensearchContainer()" title="Go To Search Gallery"><i class="fa fa-th "></i></a> 
	<a href="javascript:void(0)" class="noteIcons" ng-click="setPageFlag('D')" title="Add note"><i class="fa fa-file-text-o"></i></a> 
	<a ng-show="search_view_case == true" href="javascript:void(0)" title="Statements" onClick="alert('On Hold...')"><i class="fa fa-lightbulb-o"></i></a> 
	
	<!--<a title="Go to Search" class="ico ico7 switch" ng-click="opensearchContainer()" href="javascript:void(0)" style="display: block;"></a>-->
	
</section>
<section class="col-md-10 col-sm-9 col-xs-6 image-selector"></section>