<style type="text/css">
	.froala-editor {z-index: 9999 !important}
	.image-selector li {
		display: inline-block;
		margin-left: 2px;
		position: relative;
	}
</style>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->


<header class="row row-margin quest-row bx-sz search-header-same header {{headerImg ? 'header-bg' : ''}}">
	<div class="header-pic-background" bg-image="{{headerImg}}"></div>
	<div class="header-pic-overlayer"></div>
    <nav class="nav">
            <a href="javascript:void(0)" ng-click="openmenu()" class="dropzone4 nav-toggle animated toggle-menu menu-left push-body"><span></span></a>
          <div class="quest-row-sml">
            <div class="quest-bx-sml">
				<span data-toggle="tooltip" data-placement="bottom" title="{{pageData.Title}}">
					{{pageData.Title}} 
				</span>
				<!--<span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>-->
            </div>
        </div>
    </nav>
    <!--<section class="col-sm-12 nw-header-left">
        <h3 class="title"><a href="javascript:void(0)" ng-click="openmenu()" class="toggle-menu menu-left push-body"><i class="fa fa-bars"></i></a> <span>{{title}}</span></h3>
    </section>-->
</header>


<!-- Header -->
<main class="container bx-sz space-top-55">
  
	<!--<header class="row nw-header bx-sz" include-static="'../views/front/boards/elements/header2.html'"></header>-->
	<!--<section class="nw-subheader row bx-sz" include-static="'../views/front/boards/elements/h2_search_tray.html'"></section>-->
	<!--<section class="nw-subheader row bx-sz media-tray-rw">
		<section class="col-md-2 col-sm-3  icon-links">
			  <a href="javascript:void(0)"  ng-click="switch__toSearch()" title="Go To Search Gallery"><i class="fa fa-th "></i></a> 
			  <a ng-show="search_view_case == true" href="javascript:void(0)" title="Statements" onClick="alert('On Hold...')"><i class="fa fa-lightbulb-o"></i></a> 
		</section>
	 </section>-->
	
	
	<section class="text-editor text-editor-2 bx-sz">
	   <section class="tooltips tooltips-discuss">
			<!----------------------------------   Exit without save butons  ---------------------------------------------------->
			<a class="a-square" id="a-tooltip11" onClick="/*grid_init()*/"  ng-click="close__DiscussView();">
				<span  id="tooltip11" class="tooltip-box animated"><b class="animated fadeIn">Exit</b></span>
			</a>
			<!----------------------------------   Exit without save butons Ends ---------------------------------------------------->
		
	   </section>
	</section>
	
	<section class="m-gridster m-gridster-2 clear">
	  <div class="gridster">
		<div id="holder-discuss" class="single-img single-img-bx"></div>
	  </div>
	  
	</section>
	
	<section class="btns-btm btns-btm-2 for-mob bx-sz">
		<section>
			<a onClick="/*grid_init()*/" ng-click="close__DiscussView();" href="javascript:void(0)"  class="square-btn">
				<span>Exit without save</span>
			</a>
		</section>
    </section>
	
</main>
<div class="slider-btm-arrow">
	<a href="javascript:void(0);" id="dM-prev-m1" class="prev-m trans navarrow-left slide-arw" ng-mouseover="prevHoverIn__OnAct()" ng-mouseleave="prevHoverOut()" ng-click="getPrevSearchMedia()">
		<span class="i-ico i-prev"></span>
	</a>                        
	<a href="javascript:void(0);" id="dM-next-m1" class="next-m trans navarrow-right slide-arw" ng-mouseover="nextHoverIn__OnAct()" ng-mouseleave="nextHoverOut()" ng-click="getNextSearchMedia()">
		<span class="i-ico i-next"></span>
	</a>
	<a href="javascript:void(0);" id="dM-prev-m2" class="prv-m trans slide-preview" ng-mouseleave="prevHoverOut__OnAct()" ng-show="isPrevSearchMedia">
		<span class="prv-nxt-t l-br">Prior Media</span>
		<span class="md-pic"><img src="img/media-pic.jpg" alt="Media"></span>
	</a>  
	<a href="javascript:void(0);" id="dM-next-m2" class="nxt-m trans slide-preview" ng-mouseleave="nextHoverOut__OnAct()" ng-show="isNextSearchMedia">
		<span class="prv-nxt-t l-br">Next Media</span>
		<span class="md-pic"><img src="img/media-pic.jpg" alt="Media"></span>
	</a>
    <a href="javascript:void(0)" class="slide-del-btn" ng-click="deleteMediaDiscuss()" ng-show="showsetting">
    	<img src="/assets/page/img/delete-wt.png" alt="Media">
    </a>
</div>
<!-- /Header --> 
