<style type="text/css">
	@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
	.creation-section .header-title-input { position:relative; }
	.creation-section .header-title-input a { position:absolute; position:absolute; width:20px; height:20px; text-align:center; background-color:#000; border-radius:50%; right:0; top:15px; overflow:hidden; line-height:21px; }
	.creation-section .header-title-input a img { height:13px; }
	.creation-section .media-description { padding-top:30px; }
	.media-description-info { display:none; border-bottom:1px solid #8a8589; padding-bottom:30px; font-size:11px; }
	.media-description-info p { line-height:18px; font-family: 'Droid Sans', sans-serif; }
	.media-description-info p span { font-style:italic; }
	.media-description-info ul { margin:10px 0; } 
	.media-description-info ul li { line-height:18px; font-family: 'Droid Sans', sans-serif;  }
	.creation-section #content.media span.subheading,
	.creation-section .media-option-bx2 button,
	.creation-section .filter-input-bx input[type="text"], 
	.creation-section .filter-input-bx input[type="email"], 
	.creation-section .filter-input-bx input[type="password"],
	.creation-section .selectric .label { font-family:"Brandon Light",Arial,sans-serif; }
	.creation-section #content.media span.subheading { font-style:italic; }
	.creation-section #content.media .body .sidebar ul.filters > li > ul li { font-family:"Brandon Light",Arial,sans-serif; }
	.select-header-align { padding:10px 21px 0; text-align:left; left:0; right:0; position:absolute; top:0; } 
	.select-header-align-overlay { background-color:rgba(0, 0, 0, 0.5); }
	.creation-section #content.media .upload-pic-header .center { top: 75px; }
	.media-option-bx2 { position:relative; }
	.creation-section #content.media .head { background-color:#5a5a5a; background-image:none; }
	.creation-section .media-option-bx2 button { padding:10px; }
	.creation-section .filter-input-bx input[type="text"] { height:37px; padding:10px; font-size:14px; }
	.creation-section #slider_container { height:70px; padding:15px 21px; background-color:#161616;  }
	.creation-section .filter-input-bx { left:21px; top:15px; width:230px; }
	.creation-section .slider-tags { margin-left:235px; padding:8px 40px; }
	.creation-section #slider_container .controls a { top:11px; }
	.creation-section #content.media .head.head-row { padding-bottom:30px; min-height:120px; }
	.creation-section .header-title-block { padding:15px 0 30px; position:relative; }
		/*************** 16/12/2015 ************/
	.upload-media-box { padding-bottom:20px; }
	.upload-media-box .button.first { width:28%; float:left; }
	.upload-media-box .button { width:70%; float:right; position:relative; }
	.upload-media-box a.button { height: 57px;  display: block; text-decoration: none;  position: relative; line-height: 57px; text-transform: uppercase; font-size: 14px; font-family: 'Brandon Light', Arial, sans-serif;  color: #fff; text-align: center; width: 100%; float: left; letter-spacing: 2px; }
	.upload-media-box a.button.first {  width: 100%; }
	.upload-media-box a.button span { height: 57px;  display: block; background: #fff; opacity: .05;  position: absolute; top: 0; left: 0;  width: 100%; transition: opacity 0.5s ease; }
	.upload-media-box a.button span:hover { opacity: 0.15;  } 
	
	.upload-media-box .inbox-file { position:absolute; left:0; bottom:0; top:0; width:100%; height:57px; z-index:2; cursor:pointer; opacity:0; }	
	
	.upload-media-box .inbox-text { height: 57px;  display: block; background-color:rgba(255,255,255,0.05); width: 100%; border:none; font-size: 14px; font-family: 'Brandon Light', Arial, sans-serif;  color: #fff; text-align: center; letter-spacing: 2px; padding:0 10px; -webkit-transition:all 0.3s; -moz-transition:all 0.3s; transition:all 0.3s; }
	.upload-media-box .inbox-text:hover, .upload-media-box .inbox-text:focus { background-color:rgba(255,255,255,0.15); -webkit-transition:all 0.3s; -moz-transition:all 0.3s; transition:all 0.3s; }
	::-webkit-input-placeholder { color: #fff; opacity: 1 !important; }
	:-moz-placeholder { color: #fff; opacity: 1 !important; }
	::-moz-placeholder { color: #fff; opacity: 1 !important;}
	:-ms-input-placeholder {   color: #fff;opacity: 1 !important; }
		
	.clear { clear:both; }
	
	.question-tip-text textarea { height: 180px; border: none;  border-top: solid 1px #8a8589; border-bottom: solid 1px #8a8589; font-family: 'Droid', Arial, sans-serif; font-size: 11px; letter-spacing: 1px; width: 100%; background: transparent;  text-align: left; padding: 20px 0; color: #fff;  outline: none; margin-bottom: 0px; }
	
	/************************* 21/12/2015 ************************/
	.creation-section #container .item.item-selected { border:none; }
	.creation-section #container .item .item-select-overlay {display:none; }
	.creation-section #container .item.item-selected .item-select-overlay { position:absolute; background-color:rgba(255,255,255,0.35); display:block; top:0; left:0; right:0; bottom:0; }
	.creation-section #container .item.item-selected .item-select-overlay div { padding-top:44%; text-align:center; }
	.creation-section #container .item.item-selected .item-select-overlay img { width:32px; height:32px; }
	
	@media all and ( max-width: 1023px) {
		.creation-section .media-option-bx2 button { margin-bottom:10px; }
	}
</style>
<script type="text/javascript">
	$( document ).ready(function() {
		$( ".info-section" ).click(function() {
			$( ".media-description-info" ).fadeToggle( "500" );
		});
	});
	
</script>

<div class="test123">
<div id="menu-button" class="toggle-menu menu-left push-body">
	<div id="top"></div>
	<div id="middle"></div>
	<div id="bottom"></div>
</div>
<!--
<div class="dropdown-menu" href="#">
<a href="#" class="dropdown-icon">
<img alt="chapter" src="/assets/create/images/cloud-icn.png">
</a>

<div class="dropdown-item">
	<ul>
    	<li><a href="javascript:void(0)" ng-click="ChaptersMgmt.openLaunchSetting('AI')">Audience & Invitation</a></li>
    	<li><a href="javascript:void(0)" ng-click="ChaptersMgmt.openLaunchSetting('DE')">Design & Experience</a></li>
    </ul>
</div>
</div>
-->
<!--
<a class="back-page-btn page-btns" ng-href="#/manage-pages/{{SgPageMgmt.capsule_id}}/{{SgPageMgmt.chapter_id}}"><span>&lt;</span><label>Back</label></a>
<a class="next-page-btn page-btns" href="javascript:void(0)" ng-click="SgPageMgmt.saveSG()"><label>Done</label><span>&gt;</span></a>
-->
<a class="back-page-btn page-btns" ng-show="SgPageMgmt.whichPage!='first'" ng-click="SgPageMgmt.openPage('previous')"><span>&lt;</span><label>Previous</label></a>
<a class="next-page-btn page-btns" ng-show="SgPageMgmt.whichPage!='last'" ng-click="SgPageMgmt.openPage('next')"><label>Next</label><span>&gt;</span></a>

<div class="wrapper">
	<div class="head head-row">
		<div class="center">
                    <!--
                    <h1 class="margin_botm20 capsule_hover heading-margin border-none">
                            <span class="capsule_text">Capsule Name </span> 
                            <input type="text" value="Enter Capsule Name" class="capsule_text_field">
                            <span class="capsule_edit"><a href="javascript:void(0)"><img alt="Edit" src="/assets/create/images/chapter/edit-chapter.png"></a></span> 
                    </h1>
                    -->
                    <div class="header-title-block">
                   <span class='header-title-input'><input type="text" placeholder="Enter Header Title.." class="chapter-input" ng-model="SgPageMgmt.pageName" ng-blur="SgPageMgmt.updatePageName()" ng-click="SgPageMgmt.onTitleClick()"> <a href="javascript:void(0)" class="info-section"><img title="info" src="/assets/create/images/chapter/info.png" alt="info" /></a></span>
                   <div class="media-description">
                   	<div class="media-description-info">
                		<p>To provide a personal touch, use “Jack” or “Jill” in your question or statement. “Jack” or “Jill” will automatically be replaced by the name of the Recipient. You can also include gender or number-specific pronouns e.g.</p>
                        <ul class="">
                        	<li>His / Her / Their</li>
                            <li>He / She / They </li>
                            <li>Himself / Herself / Themselves </li>
                            <li>Him / Her / Them</li>
                        </ul>
                    	<p>For e.g. you can type "When <span>Jack</span> is at <span>his</span> best, what do you see <span>him</span> doing?" or "When <span>Jill</span> is at <span>her</span> best, what do you see <span>her</span> doing?” Our elves will make it all look good!</p>
                    </div>
                    
                	<!--<br><span class="subheading">Type your question or statement using "Jack or Jill" where it will be replaced by the name of the Recipient. </span>
					<span class="subheading">Feel free to include gender or number-specific pronouns e.g. "His /Her /Their,  He/She/They, Himself /Herself /Themselves OR Him / Her / Them"</span>
					<span class="subheading">For e.g. you can type "When Jack / Jill is at his/ her best, what do see him/ her doing?" </span>
					<span class="subheading">Our elves will make it all look good! </span>-->
                </div>
                    <!-- <span class="subheading">Type your question or statement using "Jack or Jill" where it will be replaced by the name of the Recipient. </span>
					<span class="subheading">Feel free to include gender or number-specific pronouns e.g. "His /Her /Their,  He/She/They, Himself /Herself /Themselves OR Him / Her / Them"</span>
					<span class="subheading">For e.g. you can type "When Jack / Jill is at his/ her best, what do see him/ her doing?" </span>
					<span class="subheading">Our elves will make it all look good! </span>-->
			</div>
			<h2>Question Tip (optional)</h2>
			<span class="subheading subheading2">To help others answering your question, add a tip to give them content using a video or text.</span>
            <div class="upload-media-box">
            	<div class="button first"><a class="button first" href="#"><span></span>Upload</a> <input type="file" class="inbox-file" /></div>
                <div class="button"><input type="text" placeholder="PASTE URL" class="inbox-text" /></div>
                <div class="clear"></div>
            </div>
            <div class="question-tip-text">
            	<textarea placeholder="Provide the user more context when answering your question.."></textarea>
            </div>
		</div>
	</div>
	<div class="upload upload-block upload-nopic">
    	 <div class="upload-pic-header" >
         <img ng-if="SgPageMgmt.pageData.HeaderImage" id="hdr-img" src="{{SgPageMgmt.pageData.HeaderImage}}" alt=''  />
         	<div class="select-header-align select-header-align-overlay">
            	<h2>Select Header Image</h2>
				<span class="subheading">Upload your own imagery or choose from below, then drag your image into position</span>
            </div>
         	<div class="center">
			
			<div class="header-pic-rw">
            	<div class="select-con">
				<select>
					<option value="">Tone</option>
					<option value="">Tone</option>
					<option value="">Tone</option>
					<option value="">Tone</option>
				</select>
			</div>
			
			<div class="select-con first">
				<select>
					<option value="">Industry</option>
					<option value="">Industry</option>
					<option value="">Industry</option>
					<option value="">Industry</option>
				</select>
			</div>
			
			<!--<a href="javascript:void(0)" class="button">
				<span></span>
				Upload
			</a>-->
            <div class="browse-file-btn browse-file-btn2">
                <span class="button">
                Upload
                <input id="uploadHeader" type="file" style="cursor: pointer;"  file-model="myFile" ng-file-select="SgPageMgmt.onHeaderSelect()" >
                </span>
			</div>
            </div>
			
	  </div>
         </div>
         <div class="center">
         	<div class="gallery-hd-rw">
				<ul>
					<li>
						<div style="background:url(/assets/create/images/gallery-head-pic/pic1.jpg) 0 0 no-repeat; background-size:100%;"></div>
					</li>
					<li>
						<div style="background:url(/assets/create/images/gallery-head-pic/pic1.jpg) 0 0 no-repeat; background-size:100%;"></div>
					</li>
				</ul>
			</div>
		 </div>
		<!--<div style="margin-top:-30px;width:100%;height:300px;position:absolute;background-image:url('{{SgPageMgmt.pageData.HeaderImage}}');background-repeat: no-repeat;background-position: center center;"></div>-->
		<!--<div class="member-col browse-file-btn">
			<span>
			Upload
			<input id="uploadHeader" type="file" style="cursor: pointer;"  file-model="myFile" ng-file-select="SgPageMgmt.onHeaderSelect()" >
			</span>
		</div>-->
		
	</div>
    <div class="slider-heading-block">
    	<!--<div class="center">
        	<h2>Default Media Selection ?</h2>
        	<div class="media-option-bx">
                <label>
                    <input type="radio" checked="checked" name="search-type" value="" />
                    <span>Only media selected by me, exclude the rest</span>
                </label>
       		</div>
        
        	<div class="media-option-bx">
                <label>
                    <input type="radio" checked="checked" value="" name="search-type" />
                    <span>Only media assigned to a single or set of Themes (GTs)</span>
                </label>
        </div>
        </div>-->
        <div class="media-option-bx2">
        	<h2>Tailor Media Gallery (Optional)</h2>
            <!--<div class="filter-input-bx">
                <input type="text" name="Filter Name" placeholder="Enter Keyword" auto-complete-tags-create ui-items="SgPageMgmt.keywordList"/>
            </div>-->
            <p>
            	<button class="active" id="all-media-btn" ng-click="SgPageMgmt.setAllMedia()">All Media</button>
            	<button class="" id="media-btn" ng-click="SgPageMgmt.setMediaSelected()">Only media selected by me, exclude the rest</button>
            	<button id="theme-btn" ng-click="SgPageMgmt.setThemeSelected()">Only media assigned to a single or set of Themes (GTs)</button>
            </p>
        </div>
    </div>
	<div id="slider_container">
    	<div class="filter-input-bx">
            <input type="text" name="Filter Name" placeholder="Enter Keyword" auto-complete-tags-create ui-items="SgPageMgmt.keywordList" />
		</div>
    	<div class="slider-tags">
            <div id="keyword_slider" class="slider" lmn-slider>
                <ul>
                    <li style="cursor: pointer;" id="{{keyword.id}}" ng-repeat="keyword in SgPageMgmt.keywordsSelcted"><span ng-click="SgPageMgmt.delKey(keyword)" class="remove-tag"></span><span  ng-click="SgPageMgmt.setKey(keyword)">{{keyword.title}}</span></li>
                </ul>
            </div>
            <div class="controls">
                <a href="javascript:void(0)" style="display: none" class="prev-slide"><</a> 
                <a href="javascript:void(0)" style="display: none" class="next-slide">></a> 
            </div>
        </div>
	</div>
	<div class="body media-body">
		<div class="sidebar">
			<h3 class="top">Filters</h3>
			<!--<div class="filter-input-bx">
            	<input type="text" name="Filter Name" placeholder="Enter Your Search..." />
            </div>-->
			<h3 class="underline">Types of Media</h3>
			<ul class="media-type media-type-bx">
				<li>
					<label>
                    	
						<input class="type" type="checkbox" ng-click="SgPageMgmt.filterMedia()" name="textaudio" value="Image" checked="checked" />
                        <span>Image</span>
					</label>
				</li>
				<li>
					<label>
						<input class="type" type="checkbox" ng-click="SgPageMgmt.filterMedia()" name="textaudio" value="Link" checked="checked" />
						<span>Video & Audio Link</span>
					</label>
				</li>
				<li>
					<label>
						<input class="type" type="checkbox" ng-click="SgPageMgmt.filterMedia()" name="textaudio" value="Montage" checked="checked" />
						<span>Montage</span>
					</label>
				</li>
			</ul>
			
			<h3 class="underline">Filters</h3>
			<ul class="filters">
				<li ng-repeat="fsg in SgPageMgmt.fsgs" ng-if="'Country of Affiliation' !== fsg.Title">
					<div class="info">Information</div>
					<span>{{fsg.Title}}</span>
					<ul>
						<li class="filter_checbox">
							<label>
								<input type="checkbox" class="type radiobb2 all" name="{{fsg.Title}}" data="{{fsg.Title}}" id='{{fsg._id}}' value="" onclick="createModule.checkAll($(this))"/>
								<span class="check-label" data="{{fsg.Title}}~{{value.valueTitle}}"  ng-click="SgPageMgmt.changeCss(fsg._id,fsg.Title,fsg.valueTitle)" subfilter="{{sg.Title}}" >All</span>
							</label>
						</li>
						<li class="filter_checbox" ng-repeat=" value in fsg.Values">
							<label>
								<input type="checkbox" class="type radiobb2 radioFsg" data="{{fsg.Title}}~{{value.valueTitle}}" name="{{fsg.Title}}" id='{{value._id}}' value=""/>
								<span data="{{fsg.Title}}~{{value.valueTitle}}" ng-click="SgPageMgmt.changeCss(value._id,fsg.Title,value.valueTitle)">{{value.valueTitle}}</span>
							</label>
						</li>
					</ul>
				</li>
				<li ng-repeat="fsg in SgPageMgmt.fsgs" ng-if="'Country of Affiliation' == fsg.Title">
					<div class="info">Information</div>
					<span>{{fsg.Title}}</span>
					<ul class="country-list-block">
						<li>
                        	<div class="added-country-block">
                                <ul>
                                    <li ng-repeat="country in SgPageMgmt.currentCountries | filter : countrySearch | limitTo: 10" style="padding-top:15px;padding-bottom: 7px;"><p style="width: 85%;float: left">{{country.valueTitle}}</p><p ng-click="SgPageMgmt.removeCountry(country)" style="width: 10%;float: right"><b>X</b></p></li>
                                </ul>
						</div>
                        </li>
						
						<li class="search-country-rw">
								<input ng-model="countrySearch" type="text" placeholder="search countries.. " class="" name="source" id='{{value._id}}' value="" />
						</li>
						<li>
                        	<div class="add-country-block">
							<ul>
								<li ng-repeat="country in SgPageMgmt.remainingCountries | filter : countrySearch | limitTo: 10" style="padding-top:15px;padding-bottom: 7px;"><p style="width: 85%;float: left">{{country.valueTitle}}</p><p ng-click="SgPageMgmt.addCountry(country)" style="width: 10%;float: right"><b>+</b></p></li>
							</ul>
						</div>
                        </li>
						<!--<input type="text" keywords-tokenizer/>-->
						<li class="save">
							<input type="submit" value="Search" ng-click="SgPageMgmt.countrySearch()"/>
						</li>
					</ul>
				</li>
			</ul>
			<div class="slide-con">
				<!--<span>How much media will be displayed?</span>
				<input id="slider1" type="range" min="5" max="100" step="5" ng-model="per_page"/>{{per_page}}-->
                <span>Maximum number of  media displayed to user</span>
                <div class="range-slider">
                	<!--<span class="range-input"><input id="slider1" type="range" min="5" max="100" step="5" ng-model="SgPageMgmt.per_page" ng-change="SgPageMgmt.setPageLimit()"/></span>-->
					<span class="range-input"><input id="slider1" type="range" min="5" max="5000" step="5"/></span>
                    <span class="range-input-no">{{SgPageMgmt.per_page}}</span>
                </div>
			</div>
			
			<div class="slide-con">
				<!--<span>Number of media a user can choose?</span>
				<input id="slider2" type="range" min="5" max="100" step="5" ng-change="SgPageMgmt.mediaRangeChange()" ng-model="SgPageMgmt.mediaLimit"/>{{SgPageMgmt.mediaLimit}}-->
                
                <span>Number of media a user can choose?</span>
                <div class="range-slider">
                	<span class="range-input">
                    	<input id="slider2" type="range" min="5" max="100" step="5" ng-change="SgPageMgmt.mediaRangeChange()" ng-model="SgPageMgmt.mediaLimit"/>
                    </span>
                    <span class="range-input-no">
                    	{{SgPageMgmt.mediaLimit}}
                    </span>
                </div>
				
			</div>
			
		</div>
		
		<div class="images">
			
                    <div class="grid">
                        <div id="container">
                        <div id="{{media._id}}" class="item" ng-repeat="media in SgPageMgmt.medias" ng-click="SgPageMgmt.manageSelection(media.value)">
                            <img ng-if="media.value.MediaType=='Image'" src="/assets/Media/img/300/{{media.value.URL}}" alt="loading..." fallback-src="">
                            <img  ng-if="media.value.MediaType=='Montage'" src="/assets/Media/img/300/{{media.value.thumbnail}}" alt="loading..." fallback-src="">
                            <img ng-if="media.value.MediaType=='Link'" src="/assets/Media/img/300/{{media.value.thumbnail}}" alt="loading..." fallback-src="">
                        <div class="item-select-overlay">
                            <div><img alt="" src="/assets/create/images/select-icon.png"></div>
                        </div>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<!--
	<div class="footer">
		<a class="previous-link nav-link" href="javascript:void(0)">Previous</a>
		<a class="next-link nav-link" href="javascript:void(0)" ng-click="SgPageMgmt.saveSG()">Proceed</a>
	</div>
	-->
</div>
<div id="loader" style="display: block;"><img src="/assets/create/images/ajax-loader.gif" alt="Loader" /></div>
<div id="tips" style="display: none;"><div id="closetips"></div></div>

<div class="drag-popup dropzone4 popup-style">
	<span class="popup-close-icn  dropzone4" onclick="$('.drag-popup').hide()">X</span>
	<div class="drag-icon dropzone4">
		<img src="/assets/img/upload-icon.png" width="82" height="70" class=" dropzone4">
	</div>
	<div class="drag-text dropzone4">
		Drop your Image or Click to Add<br>
	</div>
</div>


<div id="crop-pop" class="upload-popup popup-style" style="display: none">
	<span class="popup-close-icn" ng-click="SgPageMgmt.closeCropPop()" >X</span>
	<div class="upload-popup-ttl">
		Crop the Following Image to get your Desired Selection.
	</div>
	<div class="upload-pic">
		<img id="cropperImg" src="{{cropImg}}" header-cropper>
	</div>
	<div class="edit-done-btn" ng-click="SgPageMgmt.uploadCroppedHeader()">
		<span>Done</span>
	</div>
</div>

<div class="popup-overlayer"></div>
<script type="text/javascript" src="/assets/create/js/masonry.js"></script>
<!--<script type="text/javascript" src="/assets/create/js/scripts.js"></script>-->
<!--<script type="text/javascript" src="js/carasdfousel.js"></script>-->

	<script type="text/javascript">
			
			function DropDown(el) {
				this.dd = el;
				this.placeholder = this.dd.children('span');
				this.opts = this.dd.find('ul.dropdown > li');
				this.val = '';
				this.index = -1;
				this.initEvents();
			}
			DropDown.prototype = {
				initEvents : function() {
					var obj = this;

					obj.dd.on('click', function(event){
						$(this).toggleClass('active');
						return false;
					});

					obj.opts.on('click',function(){
						var opt = $(this);
						obj.val = opt.text();
						obj.index = opt.index();
						obj.placeholder.text(obj.val);
					});
				},
				getValue : function() {
					return this.val;
				},
				getIndex : function() {
					return this.index;
				}
			}

			$(function() {
				var dd = new DropDown( $('#dd') );
				$(document).click(function() {
					// all dropdowns
					$('.wrapper-dropdown-2').removeClass('active');
				});
			});

		</script>


<script> 
$(document).ready(function(){
	$("#private").click(function(){
	$(".private_text").show();
	$(".public_text,.friendssolo_text,.friendsgroup_text").hide();
	});
	
	$("#public").click(function(){
	$(".public_text").show();
	$(".private_text,.friendssolo_text,.friendsgroup_text").hide();
	});
	
	$("#frnds").click(function(){
	$(".friendssolo_text").show();
	$(".private_text,.public_text,.friendsgroup_text").hide();
	});
	
	$("#last").click(function(){
	$(".friendsgroup_text").show();
	$(".private_text,.public_text,.friendssolo_text").hide();
	});
	
	$("#co-owner").click(function(){
	$(".co-owner").show();
	$(".member").hide();
	});
	
	$("#member").click(function(){
	$(".member").show();
	$(".co-owner").hide();
	});
	
	$("#nick").click(function(){
	$(".nick").show();
	$(".real").hide();
	});
	
	$("#real").click(function(){
	$(".real").show();
	$(".nick").hide();
	});
	
});
</script>

<script type="text/javascript">
jQuery(function () {
	jQuery(".capsule_edit").click(function () {
		//alert("asdas");
		$('.capsule_text').hide(); 
		$('.capsule_text_field').show();
	});
});
		
</script>
<style>	
	/* Necessary CSS */
	.slider    { overflow:hidden; position:relative; }
	.slider ul { margin:0; padding:0; }
	.slider li { float:left; margin:0 5px 0 0; list-style:none; }
	/* IE6 issues */
	.slider ul { width:100%; }
</style>

</div>
<div include-static="'/views/front/creation/popups.html'"></div>