<a href="javascript:void(0);" class="prev-m trans navarrow-left" ng-mouseover="prevHoverIn__OnAct()" ng-mouseleave="prevHoverOut()" ng-click="getPrevSearchMedia()"><span class="i-ico i-prev"></span></a>                        
<a href="javascript:void(0);" class="next-m trans navarrow-right" ng-mouseover="nextHoverIn__OnAct()" ng-mouseleave="nextHoverOut()" ng-click="getNextSearchMedia()"><span class="i-ico i-next"></span></a>
<a href="javascript:void(0);" class="prv-m trans" ng-show="isPrevSearchMedia">
	<span class="prv-nxt-t l-br">Prior S media</span>
	<span class="md-pic"><img src="img/media-pic.jpg" alt="Media"></span>
</a>  
<a href="javascript:void(0);" class="nxt-m trans" ng-show="isNextSearchMedia">
	<span class="prv-nxt-t l-br">Next S media</span>
	<span class="md-pic"><img src="img/media-pic.jpg" alt="Media"></span>
</a>