			<div>
			<div>
				<ul class="breadcrumb">
					<li>
						<a href="#/dashboard">Home</a> <span class="divider">/</span>
					</li>
					<li>
						<a href="#/domain">Domains</a> <span class="divider">/</span>
					</li>
					<li>
						<a href="#/domainmmt/{{mmtid}}">Meta-Meta Tags</a>
					</li>
				</ul>
			</div>
			<div class="row-fluid sortable">		
				<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2><i class="icon-user"></i> Meta-Meta Tags</h2>
						<!--<div class="box-icon">
							<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
							<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
							<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
						</div>-->
						<button class="btn btn-primary" style="float:right" ng-click="openadd()" >Add New</button>
						<button class="btn btn-primary" style="float:right; margin-right:10px" ng-click="openexisting()" >Add Existing</button>
					</div>
					<div class="box-content">
					<div id="msg"></div>
						<div ng-show="!loaded" ><img style="display:block;margin-left:auto;margin-right:auto;" src="../assets/img/ajax-loader.gif"> </div>
					
						<div ng-show="loaded">
						<table  ng-table="tableParams" show-filter="true" class="table">
							<tr ng-repeat="x in $data|filter:query">
							    <td header-class="text-left"   data-title="'Title'" filter="{ 'MetaMetaTagTitle': 'text' }" sortable="'MetaMetaTagTitle'">{{x.MetaMetaTagTitle}}</td>
							    <td header-class="text-left"   data-title="'Last Modified'" sortable="'LastModified'">{{x.LastModified | date:'medium'}}</td>
							    
							    <td header-class="text-left"   data-title="'View'">
								<a class="btn btn-success" href="#/metatag/{{x._id}}">
										<i class="icon-zoom-in icon-white"></i>  
										View                                            
									</a>
							    </td>
							    </tr>
							</table>
						</div>	         
					</div>
				</div><!--/span-->			
			</div><!--/row-->

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title"><span ng-hide="edit">Add</span><span ng-show="edit">Edit</span> Meta-Meta Tags</h4>
      </div>
	  <form name="mmts" id="mmts" novalidate >
      <div class="modal-body">
        
       <label> Name</label>
        <input type="text" name="name" id="name" ng-model="mmt.name" required >	
		
		<div ng-show="mmts.name.$dirty && mmts.name.$invalid ">
			<p style="color:red;font-size:9pt" ng-show="mmts.name.$error.required">Name is required.</p>
			</div><input type="hidden" name="id" ng-model="mmt.id" />
        <label> Notes</label>
        <textarea ng-model="mmt.notes" name="notes" ></textarea>
	
     
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="addmmt(mmts.$valid)" ng-hide="edit" ng-disabled="mmts.$dirty && mmts.$invalid">Save changes</button>
		<button type="button" class="btn btn-primary" ng-click="editmmt(mmts.$valid)"  ng-show="edit" ng-disabled="mmts.$dirty && mmts.$invalid">Edit changes</button>
      </div>
	  </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>


<div class="modal fade" id="existingMMT">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title"><span ng-hide="edit">Add</span><span ng-show="edit">Edit</span> Meta-Meta Tags</h4>
      </div>
	  <form name="mmts1" id="mmts" novalidate >
      <div class="modal-body">
        
       <label> Meta Meta Tag</label>
        <select name="mmt" ng-model="mmt.id" required>
		<option value="">Select Meta Meta Tag</option>
		<option ng-repeat="mt in amit1" value="{{mt._id}}">{{mt.MetaMetaTagTitle}}</option>
		</select>
		<div ng-show="mmts1.mmt.$dirty && mmts1.mmt.$invalid ">
			<p style="color:red;font-size:9pt" ng-show="mmts1.mmt.$error.required">Please select one option.</p>
			</div>
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="addexistingmmt(mmts1.$valid)" ng-hide="edit" ng-disabled="mmts1.$dirty && mmts1.$invalid">Save changes</button>
		
      </div>
	  </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
