<div id="left-menu" class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" scrollable>
	<div class="sidebar-top-box">
    	<span id="heading">Art's Portal</span>
        <p>Advance through the creation process quickly and with ease.</p>
    </div>
    <ul>
        <li><a href="#/manage-chapters" ng-class="{selected: isActive('/manage-capsules')}">Capsules</a></li>
        <li><a href="#/manage-groups" ng-class="{selected: isActive('/manage-groups')}">Groups</a></li>
        <li><a href="#/manage-friends" ng-class="{selected: isActive('/manage-friends')}">Friends</a></li>
        <li><a href="/#/logout">Logout</a></li>
		<li><a href="#/dashboard">Home</a></li>
    </ul>
    
    <!--<a href="#/dashboard" id="home-btn">Scrpt Home</a>-->
</div>
<script type="text/javascript" src="/assets/create/js/scripts.js"></script>
<!--<script type="text/javascript" src="/assets/page/js/browse.js"></script>-->
